[2017-10-17 02:23] onbjerg opened #1 "Add fundraising app"

[2017-10-17 02:23] onbjerg opened #2 "Add finance app"

[2017-10-17 02:23] onbjerg opened #3 "Add token manager app"

[2017-10-17 02:23] onbjerg opened #4 "Add missing apps"
Add the missing apps as they become stable

- [x] #1: Add fundraising app
- [x] #2: Add finance app
- [x] #3: Add token manager app

[2017-10-17 02:25] onbjerg opened #5 "Set up linting"

[2017-10-17 02:26] onbjerg opened #6 "Set up code coverage"

[2017-10-17 02:26] onbjerg opened #7 "Add badges"

[2017-10-17 02:27] onbjerg opened #8 "Hoist @aragon/aragonOS"
This is not possible at the moment due to trufflesuite/truffle-resolver#7.

[2017-10-17 02:28] onbjerg opened #9 "Add manifests and metadata"
Add `manifest.json` and `module.json` (metadata file) for all apps

- [ ] Vault
- [ ] Group
- [ ] Voting

[2017-10-17 02:29] onbjerg opened #10 "Add publish script"
Add publish script that publishes packages using `aragon-dev-cli publish`.

[2017-10-17 12:28] #9 closed

[2017-10-17 13:08] izqui commented on #7
Can you expand this?

[2017-10-17 13:17] izqui commented on #6
I think it would be important to have one coverage metric for the entire repo. Can we trick this by having a `test` directory at the root level with symlinks to the actual test files?

Another consideration is how we share test helpers (web3 helpers, assertThrow...), as we shouldn't have those files copied in each package.

[2017-10-17 15:40] onbjerg commented on #7
Just badges in the README to show build status, code coverage and such.

[2017-10-17 15:43] onbjerg commented on #6
I think we should try to isolate the packages as much as possible, but thinking about it we might not need to since we would never actually publish the packages on npm.

Can you open up an issue about it since it's a separate topic?

I don't think we need to do symlinks, but the plan is definitely to have a single code coverage metric for the entire repository. We could look at how [Babel](https:/

[2017-10-18 08:55] #7 closed

[2017-10-22 17:05] izqui commented on #3
Closed by https://github.com/aragon/aragon-apps/commit/6f06cecd7ddf6b34bc9277c690399f0d2b8e544e

[2017-10-22 17:05] #3 closed

[2017-10-22 17:06] izqui commented on #1
Closed by https://github.com/aragon/aragon-apps/commit/6f06cecd7ddf6b34bc9277c690399f0d2b8e544e

[2017-10-22 17:06] #1 closed

[2017-10-22 17:06] izqui commented on #2
Closed by https://github.com/aragon/aragon-apps/commit/c90a309930fa4c3b2db5618f325400f45c3ab194

[2017-10-22 17:06] #2 closed

[2017-10-22 17:06] izqui commented on #4
Added all apps

[2017-10-22 17:06] #4 closed

[2017-10-22 17:08] izqui commented on #5
Hadn't seen you had assigned this to yourself, linter already passing https://travis-ci.org/aragon/aragon-apps/jobs/291188418

[2017-10-22 17:08] #5 closed

[2017-10-22 17:14] izqui commented on #6
Tests are passing on all apps now https://travis-ci.org/aragon/aragon-apps/jobs/291188419

For test coverage we could individually run solidity-coverage on every package and then somehow concat all `lcov.info` files to produce just one coverage report. Would this work?

[2017-10-23 08:53] izqui commented on #6
This should do the job: https://github.com/mweibel/lcov-result-merger

[2017-10-27 14:17] #6 closed

[2017-10-27 19:15] izqui opened #15 "Rename module.json to app.json?"

[2017-10-28 11:12] onbjerg commented on #15
Yes, I think that's a good idea. Should be reflected in `aragon-dev-cli` too. Also, a better name other than `artifact.json` would be greatly appreciated, but not sure what it should be.

[2017-11-07 18:46] izqui opened #17 "Multisig app"
At the present moment the most widely used governance mechanism is through a multisig.

Different alternatives for implementation:
- Use a widely used trusted multisig like Gnosis.
- Extend Group app to require `n` confirmations before performing action (currently Group app is a 1 out of `m` multisig)

I personally think it is a better idea to implement our own solution for this on top of the Grou

[2017-11-07 18:48] izqui opened #18 "Voting app events"
~**Done** We should add an event to log when the `changeMinAcceptQuorumPct` happens.~

Also we should the number of votes that got casted in the `CastVote` event

[2017-11-07 19:07] izqui opened #19 "Execution logic in Voting app"
At the moment, the result of a vote in the voting app is automatically executed if casting one vote makes the voting decided.

The problem with this is that if the executing call fails, the entire transaction is reverted and the vote isn't counted.

Possible solutions (complimentary):
- Add a boolean parameter to the `castVote` function to specify if the vote should be executed if accepted.
- Allo

[2017-11-08 14:35] onbjerg commented on #17
I think adding confirmations to the group app is an exciting prospect as it has different use cases. Also, a group app with multiple confirmations + the vault is pretty much a multisig.

[2017-11-08 14:45] onbjerg commented on #18
I don't think #2 is strictly necessary, since the # of cast votes can be inferred from the # of events for any particular vote ID.

[2017-11-08 15:10] adamdossa commented on #18
Currently the event signature is:
`event CastVote(uint256 indexed voteId, address indexed voter, bool supports);`

The suggestion was to add a parameter to capture the number of votes being cast (i.e. the token balance associated with the vote being cast). Not all votes are equal as different entities will have different balances.

[2017-11-08 17:51] onbjerg commented on #18
Ah, that makes sense.

[2017-11-08 17:51] onbjerg commented on #18
@izqui Want to open a new issue with just that or should we reopen this one?

[2017-11-08 18:43] izqui commented on #18
Let's just reopen this one

[2017-11-09 18:15] izqui opened #21 "Update aragon-core dependency to 1.0.2 and adapt tests to Byzantium"
A similar PR was already merged for aragon-core which could be used for reference: https://github.com/aragon/aragon-core/pull/145

[2017-11-09 18:27] izqui opened #23 "Check and test rounding errors calculating returnAmount"
Given that the calculation has to be done twice, there could be some rounding errors.

We should test to see how significant they are.

https://github.com/aragon/aragon-apps/blob/d4615757447fec2903935b1885129e2e513742ff/apps/fundraising/contracts/Fundraising.sol#L256-L265

[2017-11-09 18:32] izqui opened #24 "Assert that calculatePrice function is running in correct period"
`calculatePrice(...)` is only called by functions that have already transitioned sale periods if needed. We should add an assertion in the function to ensure that the sale is in the correct period. Given that the check is redundant and under normal execution shouldn't happen, it should be checked with an `assert(...)`

https://github.com/aragon/aragon-apps/blob/d4615757447fec2903935b1885129e2e5137

[2017-11-09 20:51] izqui opened #25 "getRemainingBudget may fail after budget decrease"
After a budget decrease, checking the remaining budget can fail because expenses are greater than the budget amount for a given token.

We should add a check on whether what was already spent is more than the budget and return 0 as remaining budget.

[2017-11-09 20:53] izqui opened #26 "Check access modifiers for all contracts"
All functions should have an explicit access modifier (`external`, `public`, etc.).

[2017-11-10 14:38] onbjerg commented on #26
Also, if we bump Solidity a bit (not sure if practical) we can use `view` vs `pure` on functions instead of `constant`.

[2017-11-11 10:29] yippee-ki-yay commented on #21
Hi this seems like a good first issue I can actually do, is it ok if I work on this?

[2017-11-11 20:43] onbjerg commented on #21
Sure! Go ahead @yippee-ki-yay 😊

[2017-11-14 09:29] #18 closed

[2017-11-14 09:29] #19 closed

[2017-11-14 09:32] #24 closed

[2017-11-14 09:32] #25 closed

[2017-11-14 18:44] izqui commented on #23
After giving it another thought I think the loss in precision would be at most 2 * 10^-8 in the minimum divisible amount of a token. In the case of ether or any token with 18 decimals, that would be 2*10^-26.  Am I missing something?

@onbjerg can you check this?After giving it another thought I think the loss in precision would be at most 2 * 10^-8 in the minimum divisible amount of a token. In t

[2017-11-14 20:52] #21 closed

[2017-11-15 16:06] #26 closed

[2017-11-20 09:54] izqui opened #34 "Remove babel"
When https://github.com/aragon/aragon-core/pull/154 is merged and a new aragon-core release is made, we need to remove unused dependencies from all apps packages.

[2017-11-21 19:05] izqui opened #35 "Integrate node-aragon in Group app"
Currently the frontend for the Group app is working inside a FakeShell component with dummy data.

Needs to start using node-aragon to interact with the on-chain component of the app

[2017-11-21 19:20] izqui opened #36 "Implement Token Manager dApp"
Needs https://github.com/aragon/node-aragon/issues/43 and https://github.com/aragon/node-aragon/issues/41

[2017-11-21 19:22] izqui opened #37 "Implement Voting dApp"
Screens: https://app.zeplin.io/project/59a827960d4c4cb2274007f5/screen/59a82800d913ba794a4a5b4a

[2017-11-21 19:25] izqui opened #38 "Implement Finance dApp"
Screens: https://app.zeplin.io/project/59a827960d4c4cb2274007f5/screen/59a827fd1707a6ef5b5d5bec

[2017-11-21 19:26] izqui opened #39 "Implement Fundraising dApp"
Screens: https://app.zeplin.io/project/59a827960d4c4cb2274007f5/screen/59a827fdceb5217b7c8c8d79

Last priority towards 0.5 release

[2017-11-21 21:54] sohkai opened #40 "Move generic components used in Groups app to aragon-ui"
With #16 merged, we should start moving out some of the reusable components to @aragon/aragon-ui.

@bpierre and I identified:
- [x] `Table` and `TableItem` generialized from `Entity`
- [x] `OverlayPanel` (renamed as `SidePanel`)
- [x] `AppContent` / `StyledApp` (packaged together as `DefaultApp`)
- [x] `TopBar` (renamed as `AppBar` or `AppTopBar`?)
- [x] `Field` (able to handle `label`s)
- [x] `Em

[2017-12-02 12:15] izqui opened #44 "NFT Vault app smart contracts"
[ERC721](https://github.com/ethereum/EIPs/issues/721) defines the standard for Non-Fungible Tokens (NFTs). By supporting ERC721 Aragon organizations will be able to manage NFTs.

Decentraland's [LAND](https://github.com/decentraland/land) and Cryptokitties both use ERC721 NFTs and seems like it will become the standard for future tokens.

Check the [Token Vault](https://github.com/aragon/aragon-ap

[2017-12-02 16:35] izqui opened #45 "Allow to perform actions as token holder with tokens held in Vault"
Sometimes the tokens being held in the Vault do not have only economic value, but also allow the holder (the DAO) to perform some actions such as voting or requesting dividends.

A way to forward actions to other contracts as the Vault to perform actions as the token holder is needed.

A more elegant approach would be just a flow of doing an approve/transferFrom with the contract that wants to per

[2017-12-02 18:34] onbjerg commented on #44
No need to mention LAND, you got me when you said I could manage my crypto kitties in Aragon

[2017-12-03 17:18] onbjerg commented on #44
This should probably also be reflected in the finance app somehow, or maybe we need a separate app for NFTs. What do you think would make more sense?

Given NFTs will rarely be used in a budget, it probably makes more sense to have a dedicated NFT app to list your NFTs.

Thankfully, ERC721 specifies names, descriptions and images for the different NFTs, so it would probably be trivial to list them

[2017-12-06 20:46] sohkai commented on #44
I totally agree. I highly doubt NFTs will be used to manage anything financial, in the way the current finance app works (accounting for payments in and out). Maybe something like "Assets" that sits alongside Tokens?

[2017-12-08 03:10] onbjerg commented on #44
I like the name "Assets" except assets could also cover cash reserves, so it might be confusing.

[2018-01-04 01:28] onbjerg opened #47 "Allow execution of callscript on votes not passing"

[2018-01-04 08:59] stellarmagnet opened #48 "Language improvements: use the term Vote instead of "Voting" (when referring to an object)"
[updated per @sohkai's feedback to use the term Vote, instead of the previously suggested Proposal]

### Problem
In the current [design of the Voting Dapp](https://scene.zeplin.io/project/59a827960d4c4cb2274007f5/screen/59a827fff2c3894459c5c1fb), the terminology "Voting" is used to describe a proposal-like object, which is a noun. I believe the better terminology to use is "Vote", since "voting" i

[2018-01-04 09:17] stellarmagnet opened #49 "Enhance bylaw logic for Voting app to allow more customized quorum and approval rules"
## Problem
Based on the Voting specification: http://wiki.aragon.one/dev/apps/voting/

It seems that DAOs will be forced to measure "quorum" based on the number of acceptance votes, as opposed to more standard logic for what "quorum" actually means.

Whenever you use "Quorum" terminology in the Aragon app, it will be very confusing if you are treating Quorum to mean "minimum acceptance quorum", as

[2018-01-04 15:37] izqui opened #50 "Remove staking logic from Token Manager (wrapped mode)"
The 'wrapped mode' makes the Token Manager too complicated. The wrapping/staking logic would be better separated into other app/s. Token Manager only purpose should be to manage a token it has controller power over.

A generic staking contract could be done that could also work for other usecases.

Token Manager loses the notion of having two 'modes' (https://github.com/aragon/aragon-apps/blob/mas

[2018-01-04 15:38] status-open-bounty commented on #50
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xd6c1798320bbab6873f93bc2347c90001423fba143e4e788134ec1d530759a67](https://etherscan.io/tx/0xd6c1798320bbab6873f93bc2347c90001423fba143e4e788134ec1d530759a67)

[2018-01-04 20:18] izqui opened #51 "Allow TokenManager to make tokens non-transferable"
Add a flag to the TokenManager app to block all token transfers besides initial minting, assignments by the TokenManager and burning of tokens.

[2018-01-04 20:20] izqui opened #52 "Limit how many tokens can an address have"
After #51, adding a limit on how many tokens can a particular holder have, the Token + Voting app can start to resemble a board (a multisig).

This limit would not apply to how many tokens the Token Manager itself is allowed to have.

[2018-01-04 20:23] izqui opened #53 "Keep track of all token holders in Token Manager"
This is an extremely short term solution that will allow the Token Manager frontend to load much quicker.

Given #51, which allows to have boards with just tokens, a way to quickly a list of all token holders is important.

Adding this will add ~45k gas every time a new holder is added. Expensive but might be worth it in UX terms in the short term.

[2018-01-04 20:27] izqui opened #54 "Deprecate Group app"
#51 + #52 + #53 allow the same functionality as the current Group app, plus a multisig (closes #17) and different board structures when combined with a voting app. All this, plus removing a lot of code!

Membership to a group would be expressed by ownership of a non-transferable token. Actions as a group member can be forwarded with the forward function of the token manager!

Note: will also close

[2018-01-04 21:31] shyblugs commented on #54
So what is the difference between a board and a multisig?

[2018-01-04 21:36] izqui commented on #54
In my mind, in a board different addresses could have different vote weights. A board where everyone has the same weight would effectively be a multisig.

[2018-01-04 21:46] shyblugs commented on #54
That's sounds alot more flexible. So would I be right in thinking the main benefit of depreciating the groups app cuts down on gas due to removing loads of code, or is it removing the ammount of complexity

[2018-01-04 21:48] izqui commented on #54
Wouldn't really cut down any gas, but removes a lot of code and at the same time it allows more flexible governance structures with really simple code :)

[2018-01-04 21:59] lkngtn commented on #53
What would the longer term solution be that is more gas efficient?

[2018-01-04 22:22] cpurta commented on #54
I agree that this is much more flexible than the current Group implementation. That is due to it having the ability to either become a board or a multisig. Plus, who doesn't like ripping out some code.

I am just curious on how the board implementation will work though.

For example, in a board if I am a majority holder of the token would I always be allowed to forward actions? Or rather, actions

[2018-01-05 01:30] cpurta commented on #54
Also since membership to a group requires ownership of a token. Would membership removal involve just transferring the tokens back to the token manager contract?

[2018-01-05 09:10] lyricalpolymath commented on #49
I like the direction and I would take it a little bit further:
It appears clear to me that there are **many kinds of possible "quorum"** (also considering the proposal for an [Exponential Backoff Quorum Discovery](https://github.com/aragon/governance/issues/17) mechanism

a possible solution to this would be to **add a descriptor to the word "quorum"** such as:
- Share Quorum or Token Quorum
- Par

[2018-01-05 10:03] izqui commented on #53
Right now the frontend filters all transfer events for the token in the blockchain to compute the list of holders locally, this is probably going to be too resource hungry and not be really performant, specially in heavily transferred tokens.

The super cool long term solution is the ability to have a 'shared cached state' of apps, so the state is only computed once and then others can use it whil

[2018-01-05 10:07] izqui commented on #54
That will depend on what is the `supportNeeded` parameter on the Voting app associated with the token. The 'board approval' action will be forwarded from the voting app, the token manager forwards 'board membership' actions.

Yes. Or even better, token burning.

https://github.com/aragon/aragon-apps/blob/9ef043337a57668cfd540675b40bc748e666a034/apps/token-manager/contracts/TokenManager.sol#L91-L98

[2018-01-05 16:17] cpurta commented on #54
Gotcha. Was taking a look at some of your changes and saw the burn function and figured that was probably the best way for membership removal.

I like this approach and excited to see the board functionality.

[2018-01-06 08:37] bingen opened #56 "Add receiveApproval function to Finance contract"
As stated in the wiki, in order to deposit ERC20 tokens in Finance app, right now we need 2 calls:
[code]
While for ERC677 tokens we just need one:
[code]
Adding the function `receiveApproval` would allow to deposit ERC20 tokens using just one call too.

[2018-01-06 08:43] bingen opened #57 "Add function to Finance to send tokens to Vault"
If accidentally somebody sends tokens to Finance contract address directly through `transfer`, tokens could be locked in that contract as Finance doesn't have a way to send transactions (it's using Vault for that).
My suggestion is to add a function that allows to send all tokens in Finance to Vault anytime.

[2018-01-07 10:53] status-open-bounty commented on #56
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x1f015dbd1b4756d2bd02d3d4d330aa8ed3b0908223a5d3273befcd022e66af1e](https://etherscan.io/tx/0x1f015dbd1b4756d2bd02d3d4d330aa8ed3b0908223a5d3273befcd022e66af1e)

[2018-01-07 10:55] izqui commented on #56
This would make it compatible with non-standard ERC20's 'approveAndCall' method.

[2018-01-07 10:56] izqui commented on #57
I believe such function doesn't even need to be protected by the ACL, and could be called at any time.

[2018-01-08 09:34] izqui opened #60 "Upgrade truffle and solc and use 'view' and 'pure'"
Similar to https://github.com/aragon/aragon-core/pull/169

In the case of the Finance app there can be some `constant` functions that need refactoring to convert to view, given that they modify state.

[2018-01-08 09:35] izqui opened #61 "Move 'fundraising' out of apps directory"
As we are not shipping this app in the first release of v0.5, make it easier for readers and auditors to know it is not part of the release

[2018-01-08 09:59] izqui commented on #47
This has to be a variable of the voting app, but we cannot set it in every vote, as it would allow to execute anything regardless of vote result.

[2018-01-08 12:35] izqui opened #63 "100% test coverage"

[2018-01-08 18:52] sohkai commented on #61
Do you think it should still be audited, or that we'll be changing it so much (i.e. simplifying it a lot) that it's not worth it?

I wouldn't mind just a big README heads up instead if it'll still be audited.

[2018-01-08 19:18] izqui commented on #61
Won't be audited, that's the main reason it has been moved

[2018-01-08 20:03] izqui opened #64 "Run tests in geth and parity"
Same as https://github.com/aragon/aragon-core/issues/171

[2018-01-08 20:04] status-open-bounty commented on #64
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x980c5e0473f65dcfaa9249f954f578e0013838aeb420455073cc9f46105c2d82](https://etherscan.io/tx/0x980c5e0473f65dcfaa9249f954f578e0013838aeb420455073cc9f46105c2d82)

[2018-01-08 20:37] cpurta commented on #64
@izqui, would like to take this one on.

[2018-01-08 20:43] izqui commented on #64
Awesome! It should be pretty easy to migrate to aragon/aragon-core#171 later :) Will fill the bounties tomorrow

[2018-01-09 06:38] onbjerg commented on #47
@izqui Can we just put this in the icebox for a moment? We might solve the actual issue another way, the more we've talked about this one the more uneasy I feel adding it

[2018-01-09 17:39] izqui commented on #47
Yes, removing it from the code freeze milestone for the moment

[2018-01-09 19:24] #57 closed

[2018-01-09 21:43] sohkai commented on #47
A thought for the future: would it be possible to do this by standardizing a "failure" case in the forwarders? Right now, only the voting app can "fail" forwards (every other app just automatically approves a forward, given correct discovery mechanisms) but there will likely be more apps in the future that will require user interaction for approvals.

We can handle this via an override in the forw

[2018-01-09 22:52] sohkai commented on #48
Would using "vote" alleviate some of the grammar issues (vs. "voting")?

Anyhow, I think there's a number of pros and cons to using one over the other (you _vote_ on a _proposal_, so this app encapsulates both ideas, but _vote_ is a really obvious name for the action you'll be taking in the app).

[2018-01-09 23:26] sohkai commented on #49
@stellarmagnet I think some of the confusion arises because we used "quorum" in a [distributed-systems manner](https://en.wikipedia.org/wiki/Quorum_(distributed_computing)) rather than in a business context (of course we did, as engineers 😉). But clarity here is really important and the Dapp client should make this as obvious as possible while offering as much flexibility as it can to users.

@lyr

[2018-01-10 09:35] status-open-bounty commented on #60
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x35a98f5b5ca7a241af241539b95c4b47362ab3d9fc5035b8a0ff8e2bf3f74b07](https://etherscan.io/tx/0x35a98f5b5ca7a241af241539b95c4b47362ab3d9fc5035b8a0ff8e2bf3f74b07)

[2018-01-10 09:40] izqui opened #65 "Add gas reporter for tests"
https://github.com/cgewecke/eth-gas-reporter

It would be awesome to know how much gas our tests are taking.

[2018-01-10 09:40] status-open-bounty commented on #65
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x7bec266b14ae6098b0806f206f978bb658323b5e5f0533b434665d00925b28a5](https://etherscan.io/tx/0x7bec266b14ae6098b0806f206f978bb658323b5e5f0533b434665d00925b28a5)

[2018-01-10 09:51] #56 closed

[2018-01-10 14:47] onbjerg commented on #47
@sohkai Yes that was discussed, too, but the issue is that the two callscripts have to be different.

Intuitively one would think that just checking if the two callscripts are different would suffice, but they might be different and still produce the same outcome.

Consider for example an attacker that would want to send funds from the Vault to their address. They would create a vote with a callsc

[2018-01-10 14:56] izqui commented on #47
Yes, my idea is that this reject callscript could be a state variable of the voting app that gets executed on failure of all votes. This isnt that useful before we can pass parameters/attributes to callscripts (related #166 and #161)

[2018-01-10 16:14] onbjerg commented on #47
I think generalizing it with something where forwarders call a standard function (`reject`? `failedForward`?) with some standardized data (a unique identifier for the app? or `keccak256` of the failed script?) would be beneficial.

[2018-01-10 16:38] onbjerg commented on #47
Maybe something like

1. Send tx that encodes `forward(script)` to voting app (![A_v](https://latex.codecogs.com/gif.latex?A_v)) from staking app (![A_s](https://latex.codecogs.com/gif.latex?A_s))
2. ![A_v](https://latex.codecogs.com/gif.latex?A_v) calls `attachMetadata(keccak(script), voteId)` on ![A_s](https://latex.codecogs.com/gif.latex?A_s)
    - ![A_s](https://latex.codecogs.com/gif.latex?A_

[2018-01-10 18:12] luisivan commented on #47
I love your notation @onbjerg

[2018-01-10 19:44] izqui commented on #47
I have a feeling that this might work too, maybe it could even be generalized as a 'forwarding feedback protocol', in which you can expect a callback with some data after performing a fwd.

Is `attachMetadata` only called back to when the vote is created?

[2018-01-11 04:52] stellarmagnet commented on #48
@sohkai using "vote" where? e.g. "New Vote" instead of "New Voting"?

[2018-01-11 11:30] linuxchip commented on #65
@izqui , i am interested to check on this. Thanks

[2018-01-11 11:34] #61 closed

[2018-01-11 12:05] renexdev commented on #60
Coding & learning about this!

[2018-01-11 12:07] izqui commented on #60
Sweet aragon/aragon-core#169 could be an inspiration :)

[2018-01-11 13:17] renexdev commented on #60
I'm following that! Thanks

[2018-01-11 19:16] renexdev commented on #60
@izqui, sorry by the newbie q, what's the purpose of the few sentences in onApprove fn (TokenManager.sol)... I feel I'm loosing something that's happening in the backend with TokenController...
function onApprove(address _owner, address _spender, uint _amount) public view returns (bool) {
        _owner;
        _spender;
        _amount;

[2018-01-11 19:24] izqui commented on #60
That function doesn't do anything. The parameters are in the function body just so the linter doesn't protest about unused variables.

[2018-01-11 19:48] cpurta commented on #65
This would be awesome. Would be especially helpful to know how much gas the development network will need for testing being implemented in #66.

[2018-01-12 01:22] onbjerg commented on #47
@luisivan thanks man

@izqui Well that's sort of an open issue, as I mentioned in an edit:

PS: ye boi

[2018-01-12 07:44] #17 closed

[2018-01-12 07:44] #50 closed

[2018-01-12 07:44] #51 closed

[2018-01-12 07:44] #52 closed

[2018-01-12 07:44] #53 closed

[2018-01-12 07:44] #54 closed

[2018-01-12 08:57] izqui opened #67 "Add npm postinstall hook to run `npm run bootstrap`"

[2018-01-12 09:14] #67 closed

[2018-01-12 09:49] izqui opened #68 "Make app storage layout more graceful to app upgrades"
See my explanation: https://youtu.be/sJ7VECqHFAg?t=9m27s

Basically convert arrays to mappings.

[2018-01-12 13:31] renexdev commented on #60
Amost ready... re running install & tests + updating gist with obtained outputs...

[2018-01-12 13:40] renexdev commented on #60
Almost ready... re running install & tests + updating gist with obtained outputs... checking the warnings... In addition to js test, Is there any way to fine grained follow EVM commands & play with the defined apps Fn (like Remix) for such a big project?...  I imagine that one way of doing that is using Remix with small pieces of the contract with its dependencies, but for sure this is not practic

[2018-01-12 14:48] renexdev commented on #60
At the end of the given gist, I write these warnings... should I listen them?, there are similar warning at aragon-core...

//Detected Warnings
@apps/finance
,$LOCALWORKSPACE/aragon-apps/apps/finance/contracts/Finance.sol:417:40: Warning: Function declared as view, but this expression (potentially) modifies the state and thus requires non-payable (the default) or payable.
    function getBudget(ad

[2018-01-12 19:26] #60 closed

[2018-01-12 19:28] izqui commented on #60
Bounty amounts are taking a bit to show up, but you will soon be able to claim a 10 ANT bounty in https://openbounty.status.im

[2018-01-13 13:30] renexdev commented on #60
Thanks @izqui! I most appreciate how much I'm learning about the devTools and the Aragon ecosystem!

[2018-01-15 11:28] izqui opened #72 "Use @aragon/os 3.0.0"
Tons of changes since aragon-core 2.0.1. As soon as https://github.com/aragon/aragonOS/pull/182 is merged, we can start updating apps to use the new version.

[2018-01-15 15:56] izqui opened #73 "Prepare for solidity github syntax highlighting"
https://github.com/github/linguist/pull/3973#issuecomment-357507741

[2018-01-15 22:31] izqui opened #74 "DAO integration tests against Beta templates"
Construct a dummy DAO with the current apps that will be part of the v0.5 release and interact with it asserting all parts are working as expected. There shouldn't be any surprises but a full test case would be great to have!

~Blocked by #72~

[2018-01-16 08:23] #73 closed

[2018-01-16 12:35] izqui commented on #45
Deferring this to another version of the vault. It isn't really critical for 0.5.

[2018-01-16 18:33] #65 closed

[2018-01-16 22:02] sohkai commented on #48
@stellarmagnet Yup, anywhere "voting" is attempted to be used as a noun.

[2018-01-16 23:42] stellarmagnet commented on #48
@sohkai I like New Vote/Vote! Good call.

[2018-01-17 12:57] luisivan opened #76 "Token Manager UI changes for allowing group/multisig-alike interfaces"
We agreed to keep the same UI for both the Token Manager and the recently deprecated Groups app (https://github.com/aragon/aragon-apps/pull/55).

It is a challenge to represent a group without adding some sort of arbitrary switch when deploying the Token Manager instance, which wouldn't be elegant and wouldn't allow for more advanced uses cases (we should assume that a token can represent anything

[2018-01-29 10:28] #72 closed

[2018-01-29 15:39] chris-remus commented on #38
@izqui Please add me to the Zeplin project so I can view it.

[2018-02-06 15:01] bingen commented on #48
I'm not native English, but I wouldn't say "voting" is only a verb:
https://dictionary.cambridge.org/dictionary/english/voting
https://www.oxfordlearnersdictionaries.com/definition/english/voting

[2018-02-06 16:20] sohkai commented on #48
Interesting, I'd say from a North American perspective, I've never heard of "voting" used as a noun, but maybe it's an older or British thing.

[2018-02-06 17:52] bingen commented on #48
Well, no idea, but as I said I'm not a good reference at all ;-) So of course perfectly fine with the change.

[2018-02-08 19:31] sohkai opened #83 "Finance: receiveApproval should check from sender"
From @ewingrj:

[2018-02-12 11:26] izqui opened #86 "Update README badges style to match aragonOS repo"

[2018-02-12 11:34] izqui commented on #74
This integration tests could be done against templates that will be used in the beta

[2018-02-12 12:44] izqui opened #89 "Change indentation from 4 to 2 spaces"

[2018-02-12 15:41] bingen commented on #83
Closed by #85

[2018-02-12 15:41] #83 closed

[2018-02-14 21:39] Shukri1 commented on #48
Svenska

[2018-02-15 06:55] #86 closed

[2018-02-15 17:42] bingen commented on #89
What's the point of this? Not a big fan of this kind of changes, but in case of doing it, it would be good to close all opened PRs first.

[2018-02-19 11:18] renexdev commented on #89
To standardize the format I imagine... done

[2018-02-19 12:27] bingen commented on #89
Ya, well, the format was already ['standard'](http://solidity.readthedocs.io/en/develop/style-guide.html#indentation).
See discussion [here](https://github.com/aragon/aragonOS/issues/221) anyway.

[2018-02-19 12:56] renexdev commented on #89
ok, I didn't see it... so let's wait for closing other PRs =)

[2018-02-22 00:42] izqui commented on #74
Update: make these integration tests run against the Beta templates https://github.com/aragon/aragon-apps/pull/91

[2018-02-22 17:29] bingen commented on #74
Sure!

[2018-02-23 19:30] cpurta commented on #65
Looks like the bounty contract was never funded.

[2018-02-24 05:37] onbjerg commented on #65
@izqui

[2018-02-24 05:54] jvluso commented on #49
This adds the simple separation between voting quorum and accepted quorum. I can look into the more extensive change of making it modular. Is there anything ui related I should add alongside this?

[2018-02-26 13:47] sohkai opened #107 "Finance: review getBudget() implementation"
See https://github.com/aragon/aragon-apps/pull/104/files#r170335062

[2018-03-05 20:21] izqui opened #116 "Token symbol is not used in DemocracyTemplate"

[2018-03-05 20:54] bingen commented on #116
What do you mean exactly?
I changed that here:
https://github.com/aragon/aragon-apps/pull/112/commits/babd22b0e9c34de9dcc4be9fcb1e76e9609fc05d

[2018-03-05 21:12] izqui commented on #116
I was unaware :) Closed by babd22b

[2018-03-05 21:12] #116 closed

[2018-03-06 16:15] sohkai opened #119 "App frontends: add start_url to manifest.json"
See [spec](https://developer.mozilla.org/en-US/docs/Web/Manifest#start_url).

It says relative url to the site origin, which I'm just going to say is whatever IPFS / apm-serve address we get. We'll probably just use `/dist/index.html` or similar (default for `create-react-app`).

[2018-03-08 17:21] bingen commented on #74
It's done in #112 and #117

[2018-03-10 17:32] onbjerg commented on #119
So the idea is that we load from `start_url` instead of assumin `/index.html`?

[2018-03-12 09:05] izqui commented on #44
ERC721 was just merged. We need an ERC721 vault :) https://github.com/ethereum/EIPs/pull/841

[2018-03-12 09:06] status-open-bounty commented on #44
Current balance: 0.000000 ETH
Contract address: [0xbc8e96e851fb113943fb6d55493f541eb149b0fa](https://etherscan.io/address/0xbc8e96e851fb113943fb6d55493f541eb149b0fa)
![QR Code](https://openbounty.status.im/qr/aragon/aragon-apps/bounty/44/5ac6bd8f22623291fba175a17cbf44c81ae7045882fd5e79f1218b949f2e4b54/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://o

[2018-03-12 22:34] sohkai commented on #119
Yup. This allows you to use any build structure you'd like.

[2018-03-12 22:56] onbjerg commented on #119
Very nice

[2018-03-13 01:57] gasolin opened #124 "remove app folder in each aragon-app"
Since correspondent frontend are located in `aragon-app`, `app/` folders in each aragon-app are not helpful and confuse the code reader. I suggest to remove app folder from aragon-apps

[2018-03-13 11:06] sohkai commented on #124
Hey @gasolin—this probably looks confusing right now because we haven't merged any of the frontends into the master branch yet.

The way it should look is `aragon-apps/apps/<app name>/app/<front-end>`, where `aragon-apps/apps/<app name>/contracts/<contracts>` are the contracts. Does that make more sense?

Or is it the naming of "app" (better as "frontend") that's confusing?

[2018-03-13 11:34] izqui opened #125 "Add native ether support in Vault and remove all references to EtherToken"
Original conversation: https://github.com/aragon/aragonOS/issues/245

[2018-03-13 14:02] izqui commented on #125
I will be working on this today and try to squeeze it into the release :)

[2018-03-13 17:20] bingen commented on #74
#117 replaced by #128

[2018-03-13 17:23] fcolavecchia commented on #44
Hi!, a very interesting problem, I would give it a try, if none at the core team is able to do it. The idea would be to borrow the [ERC721 standard implementation from our zeppelin cousins](https://github.com/spalladino/zeppelin-solidity/tree/feature/full_erc721/contracts/token/ERC721), and build the NTF Vault (Inventory app?) from there, adding the basic functionality.
Sounds ok, @izqui ?

[2018-03-13 17:24] bingen commented on #125
Ya, that dynamic vault is really nice!!

[2018-03-14 03:39] gasolin commented on #125
Wow! dynamic vault looks cool and definitely like to have it:+1:
Though just in case I saw the rest of works for [0.5 milestone](https://github.com/aragon/aragon-apps/milestone/2) are around test and increasing the test coverage. Introducing a new feature at last time (I saw in `aragon.chat` the release might happen in this week?) increase the risk to deliver the shortern goal. And I think dynamic

[2018-03-14 03:49] gasolin commented on #124
If I understand correctly, `aragon-apps`(main branch?) is focused on contracts and `aragon` is focued on dapp (frontend). As you said the release version will based on `aragon-apps` and merge the frontend part into `aragon-apps/apps/<app name>/app/<front-end>`. (Though I haven't find correspondent front-end in `aragon` repo, @sohkai could you point me the right place?)

That looks like a common ap

[2018-03-14 08:57] izqui commented on #125
The release is testnet only, and this changes are going to make it into the release without problem. Auditors are going to be reviewing this leading to mainnet launch.

Actually interesting thought about NFTs, it is maybe not a crazy thought that we can do a NFT connector rather than another Vault. We won't be working on this right away but interesting.

[2018-03-14 11:14] sohkai commented on #124
`aragon/aragon-apps` will have the contracts and front-end apps for all the apps. `aragon/aragon` will be the dapp "wrapper" running these apps.

The merge will be happening very soon! For example, you can see how the [voting app's frontend currently looks](https://github.com/aragon/aragon-apps/tree/master/apps/voting/app).

[2018-03-14 12:20] izqui opened #130 "Implement NFT (ERC721) Token Manager"

[2018-03-14 12:20] status-open-bounty commented on #130
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xa867a9ab4d263e754952cd1781e63e776f52dcd07b1b01896e6334a0c1bb4a05](https://etherscan.io/tx/0xa867a9ab4d263e754952cd1781e63e776f52dcd07b1b01896e6334a0c1bb4a05)

[2018-03-14 15:30] gasolin commented on #124
Sounds good to me. Looking forward the merge.

[2018-03-14 15:30] #124 closed

[2018-03-15 17:40] bingen commented on #74
Closed by #128

[2018-03-15 17:40] #74 closed

[2018-03-20 10:30] #44 closed

[2018-03-20 10:30] #125 closed

[2018-03-20 10:54] izqui opened #158 "Make app's frontends lerna packages"

[2018-03-21 01:38] sohkai commented on #158
You mean we're going to have lerna packages inside lerna packages? Oh boy.

[2018-03-21 11:49] onbjerg commented on #158
@sohkai No I think he wants a separate directory for front-ends so we can just do `lerna bootstrap`

[2018-03-22 17:45] gasolin opened #182 "ethereumjs-abi is needed to test apps/voting"
Issue:

Can't run truffle test successfully because of ethereumjs-abi module is missing.

Add the missing module via run the command in `apps/voting/`:

[code]

The `truffle test` is passed now.

[2018-03-22 18:40] izqui opened #184 "Implement ERC900 connector in Vault"
Having a certain stake in a Staking app is almost the same as owning an asset directly, given the risks and conditions you are bound to by staking. Thanks to our new multi-standard vault app we can handle staked tokens using the same API as if they were assets in the Vault 😎

Given that ERC900 contracts are defined as uni-token we can do:
[code]

It allows us not to break the current Vault API, wi

[2018-03-23 09:18] izqui opened #186 "Move templates to their own thematic repo"

[2018-03-25 14:23] izqui opened #187 "Review SafeMath for all apps"
Specially Voting and Finance

[2018-03-25 14:36] izqui opened #188 "Add initialization checks to critical functions in apps"

[2018-03-25 14:37] izqui opened #189 "Allow to create a vote and not cast a vote immediately"

[2018-03-26 09:43] bingen commented on #188
It's already impossible as it fails trying to call some `token` functions. I can also add an explicit check if you want me to.

[2018-03-26 09:57] izqui commented on #188
I think adding a explicit failure on creation wouldn't be a bad idea

[2018-03-26 14:00] sohkai commented on #188
We could also add the required init modifiers to other apps, e.g. finance not allowing payments to be created until it's been initialized.

[2018-03-27 16:41] sohkai opened #190 "Finance: don't show fiat equivalents"

[2018-03-27 16:41] sohkai opened #191 "Finance: filter new transfer tokens correctly"

[2018-03-27 16:42] sohkai opened #192 "Finance: filtering tokens doesn't work correctly"

[2018-03-27 16:44] sohkai opened #193 "Finance, Token Manager: show better UI state for when no transaction path could be made"
Apparently these apps' sidepanels are closing intermittedly (metamask account switching might be the cause) without doing anything when a tx is supposed to be sent to the signer view.

[2018-03-27 16:45] sohkai opened #194 "Token Manager: fix group mode"
1. Group mode seems to always be activated
1. Always show the partition graph, even when in group mode

[2018-03-27 16:48] sohkai opened #195 "Finance, Token Manager: inputs taking addresses should error if they're not a valid address"
Only accept `0x...` addresses for now (ENS integration to come).

[2018-03-28 11:06] #192 closed

[2018-03-28 13:20] #191 closed

[2018-03-28 13:20] #190 closed

[2018-03-28 15:39] izqui opened #212 "Show token holder voting power on a given vote"
Because each vote has a different `snapshotBlock` for checking token balances, a holder may have different voting power on proposals depending on when the vote was created.

We should communicate both the `snapshotBlock` and the voting power per proposal. This can be fetched: `token.balanceOfAt(holder, vote.snapshotBlock)`

[2018-03-28 16:32] izqui opened #216 "Voting: add manual execute vote action"
As per http://wiki.aragon.one/dev/apps/voting/ there are 2 ways a vote can be executed:
- During vote time: the vote will be execute **iff** it is absolutely decided. If a vote requires 50% support, it will be executed on the vote that makes it have 50% absolute support taking the token total supply into account. These votes get automatically executed.
- After vote time: the vote can be executed (

[2018-03-29 08:42] izqui opened #221 "Token manager: add some distinctive visual element in holder list to highlight user's account"
Rough, easy fix:

![2018-03-29 at 10 40 50 am](https://user-images.githubusercontent.com/447328/38078807-bba6e530-333d-11e8-9564-df21a38be080.png)

We could easily add a badge too!

[2018-03-29 09:52] sohkai commented on #221
Yup, been thinking about this but haven't prioritized it. We now get the user's account info pretty easily through aragon.js so this shouldn't be too hard to add to all the apps.

[2018-03-29 10:06] izqui commented on #221
No rush, just didn't want this to be lost :)

[2018-03-29 10:09] bpierre commented on #221
@sohkai @izqui It’s in this PR https://github.com/aragon/aragon-apps/pull/225

[2018-03-29 11:51] #221 closed

[2018-03-29 19:09] izqui opened #228 "Token Manager: show tokenManager.token() addr for users to be able to directly interact with"

[2018-03-31 02:44] stellarmagnet opened #229 "Voting: Display to the end-user the voting option they selected"
The voting UI doesn't display the end-user's selected voting option.

There should be a clear visual indicator that displays something like:
**Current Vote**
Yes

**Update Vote**
(Yes) (No)

Current screenshot:
![image](https://user-images.githubusercontent.com/2584493/38158848-2e6fce06-3451-11e8-854a-4753c094d487.png)

[2018-04-02 12:08] onbjerg opened #230 "Determine what notifications we want"
For the notifications feature to be implemented, we should decide on what notifications we want from each app.

Furthermore, there are technically two types of notifications: "global" and "direct", where global notifications are for all users of a DAO and direct notification is for a specific user or a specific set of users.

We should think about signal/noise ratio when deciding.

[2018-04-03 10:50] izqui opened #231 "Voting: Add Multi-option support"
For Signalling to be useful and be able to use the Voting app we need to add support for more than 2 options at the contract level. This will also require frontend changes to display votes properly.

## Spec modification proposal

- Add a `_newSignalingVote(bytes metadata, uint8 options)` function protected by the ACL under the same or a new role. The reason for adding a new function is that multi

[2018-04-03 19:47] #188 closed

[2018-04-03 20:52] #187 closed

[2018-04-04 08:25] izqui opened #234 "Test ERC721 and ERC777 connectors in Vault"

[2018-04-04 08:32] izqui commented on #228
Alternatively, we could allow apps to expose 'relevant' properties/addresses of them, which could then be seen from the advanced section in settings: aragon#172

[2018-04-04 08:34] izqui commented on #119
Closing as this happened already in all apps with frontend!

[2018-04-04 08:34] #119 closed

[2018-04-04 08:35] izqui opened #235 "Vault: helper for multi-standard for deposits"
Currently we have pretty much solved the issue of transferring multi-standard tokens with the same API. However, depositing tokens in the vault requires different logic depending on the token standard.

We might be able to do some nice `delegatecall` here in a way that is not too dangerous for arbitrary token standard deposits to the Vault.

[2018-04-04 08:46] onbjerg commented on #15
Renamed to `arapp.json`

[2018-04-04 08:46] #15 closed

[2018-04-04 08:46] onbjerg commented on #10
Added

[2018-04-04 08:46] #10 closed

[2018-04-04 08:47] onbjerg commented on #37
Done

[2018-04-04 08:47] #37 closed

[2018-04-04 08:47] onbjerg commented on #38
Done?

[2018-04-04 08:47] onbjerg commented on #36
Done

[2018-04-04 08:47] #36 closed

[2018-04-04 08:47] onbjerg commented on #35
Group app no longer exists

[2018-04-04 08:47] #35 closed

[2018-04-04 08:48] onbjerg commented on #40
Done?

[2018-04-04 08:48] #38 closed

[2018-04-04 08:48] bpierre commented on #40
Yes

[2018-04-04 08:48] #40 closed

[2018-04-04 08:52] onbjerg commented on #231
We should make this change for metadata on binary votes, too.

Could we generalize this (instead of having a seperate function for signalling votes) in a way such that EVM scripts are only executed if # options is 2? I.e. `newVote` now has the signature `newVote(bytes metadata, uint8 options, bytes script)`, and `forward` simply calls `newVote(YES_NO_METADATA, 2, _script)`.

For this, we should al

[2018-04-04 23:24] stellarmagnet commented on #116
whenever i create a token using democracy template, i do not get the symbol when checking on etherscan

![image](https://user-images.githubusercontent.com/2584493/38339719-9a71d4ba-3824-11e8-96f5-cbb6724f56d4.png)

![image](https://user-images.githubusercontent.com/2584493/38339730-ac9731bc-3824-11e8-9aa3-cfed34abe3ee.png)

[2018-04-05 00:33] stellarmagnet commented on #230
Some suggestions:

Global
- [ ] When a new vote is created
- [ ] A "weekly" digest type of notification. Summarizes the "week in the dao" -- new tokens that were assigned, results of votes that were closed, money in/ money out.

User-specific:
- [ ] 24 hour warning before a vote is about to close and you haven't voted

[2018-04-05 07:07] onbjerg commented on #116
@stellarmagnet That's because Rinkeby etherscan is super bad. It doesn't show contracts that well either

[2018-04-05 08:52] bpierre commented on #116
We also need to update the aragon.js template module, I opened an issue https://github.com/aragon/aragon.js/issues/102

[2018-04-05 10:04] izqui opened #236 "Finance: add DAI to test tokens"
We need to deploy the token with the factory, which I will do and paste the addr here, and then add the image and list it in the finance front

[2018-04-05 13:31] izqui opened #237 "Voting: save a shit ton of gas creating a vote by not storing scripts on-chain"
Right now, on vote creation, we save the full script that will be executed in the voting app storage. This is a lot of bytes (that we never delete to get the gas refund) being stored.

An alternative for this could be to vote on script hashes, having the full script available as part of the metadata file of the vote. Then after the vote passes, in order to execute the vote, the full script has to

[2018-04-07 12:45] bingen commented on #231
We should consider separating Binary and Multi-option Voting contracts.

[2018-04-08 21:26] jvluso opened #239 "App not serving script"
I'm trying to run Aragon locally. When I do, the main aragon app cannot get the scripts from the other apps. The error being thrown by the main app in the browser is:

`Failed to load Voting(0x9b061Cc570950952ccfD2B7df4c3B7FF94904e65)'s script (/script.js):
Response { type: "cors", url: "http://localhost:3001/script.js", redirected: false, status: 500, ok: false, statusText: "Internal Server Error

[2018-04-09 09:47] onbjerg commented on #239
Are you trying to run the app locally pointing to Rinkeby, or trying to run it locally pointing to testrpc?

[2018-04-09 15:15] sohkai commented on #239
Hey @jvluso, this sounds like a CORS / local dev server issue, which is weird.

A few questions, since there's a number of different things that could be going on:

- Are the local apps on a fresh clone from the current master?
- Which directory are you running the apps from, is it inside the app's `app/` folder (e.g. you should be running `npm run start` in `aragon-apps/apps/voting/app`)?
- Is `l

[2018-04-09 16:33] jvluso commented on #239
- I am pointing at Rinkeby right now.
- This is a fresh clone of master
- I am running from aragon-apps/apps/voting/app
- It is serving the html properly, and I can see the app, it just always says "nothing here" because the script isn't getting fetched
- "@aragon/react-scripts": "^1.1.0-aragon.4"
- Yes. When I point it at finance.aragonpm.com it works

[2018-04-10 14:03] sohkai commented on #239
Hmm, this is super super weird. Does `http://localhost:3001/script.js` give you anything back? Does `app/public/script.js` exist? Do any of the other local apps work or is it just Voting?

Otherwise, if it's working with `<app>.aragonpm.com`, I can only guess it's something funny with the webpack dev server that's used in our fork of react-scripts. Our fork has explicitly enabled CORS on it, so it

[2018-04-10 17:10] jvluso commented on #239
Script.js was being called Script.js.js. Renaming it solved the problem. This was happening on linux. Thank you for helping me.

[2018-04-10 17:10] #239 closed

[2018-04-13 11:11] bpierre opened #242 "Table rows: prevent horizontal scrollbars with long words"
See https://github.com/aragon/aragon-apps/pull/241

[2018-04-15 21:57] stellarmagnet opened #245 "Language suggestions for "No data" use cases of Aragon apps"
Right now for the Aragon apps, when an object does not exist it says "Nothing here". I suggest to improve the terminology to be more descriptive in relation to what app you are looking at.

Here is an example of a suggested improvement for the Voting app:

![image](https://user-images.githubusercontent.com/2584493/38783829-c94cb37c-40bc-11e8-8734-706d4e989ba6.png)

The second option would be to ju

[2018-04-19 02:42] john-light opened #260 "Add numbers to proposals in voting app"
When you click on the "View Vote" button then it shows you a number for the vote, but it would be nice if you could see a number for the proposal in the main Voting app.

![votescreen](https://user-images.githubusercontent.com/9424721/38968443-61749112-4340-11e8-9d81-f39362c0e7b6.png)

[2018-04-19 02:43] john-light opened #261 "Show who voted for the proposal already and how they voted"
"View Vote" screen shows the user who created the proposal, but it does not show who has already voted and what their vote was. This would be helpful to know, especially for the user to see which way they voted in case they forget whether they voted or how they voted.

[2018-04-19 02:43] john-light opened #262 "Transactions go through when people vote on the same proposal twice"
Can they be stopped from voting on something twice? The UI could warn them that they already voted, to save them from spending gas again.

[2018-04-19 02:44] john-light opened #263 "Vote action is not creating transaction"
Window automatically closes, does not initiate signing.

Chrome - MacOS High Sierra

[2018-04-19 02:45] john-light opened #264 "Finance transfer is not creating transaction."
Finance "New Transfer" is not creating transaction. Window closes automatically and does not initiate signing.

Firefox - Linux, Chromium

[2018-04-19 02:48] john-light opened #564 "Show identicons for tokenholders (and other participants in the system)"

[2018-04-19 02:49] john-light opened #265 "Assign Token action is not creating a transaction"
Window closes automatically and does not initiate signing.

Firefox - PC

Chrome - Mac

[2018-04-19 02:51] john-light opened #266 "(Lack of BN.js) Assigning large amounts of tokens does not work"
If I try to assign myself 1000000 tokens or 1000 tokens it will not start the vote to mint them, but 1 or 100 works. When it doesn't work it does not show any kind of error message.

Apps affected by lack of BN.js:

- [x] Finance
- [x] Token Manager
- [x] Voting

[2018-04-19 02:54] john-light opened #267 "Settings app does not load"
One guy experienced having the settings tab staying in a loading state. Several refresh was needed to make it show.

[2018-04-19 02:55] john-light opened #268 "Show DAO token address so users can see the token in their wallets"

[2018-04-19 02:57] john-light opened #269 "Minting additional tokens to existing multisig tokenholders fails, error unclear"
Multisig, 3of3, Token Manager, Mint 1 Token to existing tokenholder, 66% Yes so far. I go to vote with the last signature, and get this error in MetaMask: "Transaction Error. Exception thrown in contract code." It is not clear from this error what is going wrong/ why the tx is failing.

[2018-04-19 02:58] john-light opened #270 "Minting 1 new token for a new address turns the 2of2 into a 3of3."
Multisig, 2of2, Token Manager, Mint 1 Token to new address. Minting 1 new token for a new address turns the 2of2 into a 3of3.

This was unexpected. It wasn't clear what minting a token to a new address would do.

[2018-04-19 02:59] john-light opened #271 "Please provide a way to use local node without using metamask."

[2018-04-19 03:00] john-light opened #272 "Give people the opportunity to vote for a vote that got "approved""
It would still be interesting to see the amount of people that vote "no".

[2018-04-19 03:10] john-light opened #273 "Show org token name and ticker symbol"
"Token" label in Token Manager -> should this be or show the org token name and ticker symbol? It should be shown somewhere in the app anyways. (Maybe Settings app too?)

[2018-04-19 03:12] john-light opened #274 "Token transfer succeeds, ETH transfer fails."
Democracy org, two token holders, New Transfer in Finance app. SPANK token transfer succeeds, moves on to voting stage. ETH transfer fails, window closes with no indication of what is happening.

[2018-04-19 03:13] john-light opened #275 "Impossible amounts possible to type in "New Transfer" amount field."
Should show an error message and block further action.

[2018-04-19 03:15] john-light opened #276 "Design an intuitive UX for funding DAOs"
---------------

The current flow for funding DAOs on rinkeby is quite scary, and hard to find. Users of mainnet DAOs should have an intuitive way to fund their organizations with tokens or ETH, and have it be captured in the finance app.

[2018-04-19 03:16] john-light opened #277 "Some votes get approved automatically before the duration expires, others must wait for the duration to expire"
This might just be something that needs documented, not a bug. What's happening differently for each of these cases on the back-end?

[2018-04-19 03:18] john-light opened #278 "Strange numbers showing up when minting new tokens"
**Report 1**
Token Manager App / Multisig Only / Assign Token Function / changing the number of tokens assigned to that number times 1e-18

**Report 2**
Multisig, 2of2, Token Manager, Mint 1 Token to new address. Action to be triggered: Mint 1e-18 tokens for 0xEb0f833bC9C5dA57Db7e581B3264f4d0cB479023

[2018-04-19 03:19] john-light opened #279 "Create a way to delete a user's tokens and remove them from the org"
There is currently no way to remove a user from an org unless they voluntarily give up their tokens. There should be a way for tokenholders to vote to remove a user from an org and delete/ clawback their tokens.

Requires https://github.com/aragon/aragon.js/issues/120.

[2018-04-19 18:01] status-open-bounty commented on #130
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xc9ac11c3917692c818a439816ffac4e2a6c85d57671ddd452333424ca5482f07](https://etherscan.io/tx/0xc9ac11c3917692c818a439816ffac4e2a6c85d57671ddd452333424ca5482f07)

[2018-04-20 16:21] sohkai opened #283 "Organization identity app contract"

[2018-04-20 16:21] sohkai opened #284 "Organization identity app background script"

[2018-04-20 16:21] sohkai opened #285 "Organization identity app frontend"

[2018-04-23 09:25] bpierre opened #286 "Survey (Voting) UI update"

[2018-04-23 13:13] #189 closed

[2018-04-26 19:10] chris-remus commented on #235
are you working on this one @izqui? Please assign it to yourself if you are.

[2018-04-27 09:19] sohkai opened #291 "Token Manager: limit minted tokens in multisig version to just 1"
Non-obvious limitation with how we set up the contracts in our multisig templates right now.

[2018-05-01 20:13] izqui opened #295 "MultisigTemplate: only TokenManager should be allowed to create new votes"
Close aragon/dao-kits#2

Even though we are migrating to the other repo, we should solve this here asap

[2018-05-03 21:00] sohkai commented on #39
Closing, because we're not implementing this anymore.

[2018-05-03 21:00] #39 closed

[2018-05-08 20:04] sohkai opened #298 "Add ability to comment on votes"
See original discussion: https://github.com/aragon/aragonOS/issues/91

[2018-05-08 20:35] sohkai commented on #48
This has been done in 0.5 :).

[2018-05-08 20:35] #48 closed

[2018-05-08 20:36] sohkai commented on #193
Closing until this is seen again.

[2018-05-08 20:36] #193 closed

[2018-05-08 20:37] sohkai commented on #195
Closing as this was done in 0.5 :)

[2018-05-08 20:37] #195 closed

[2018-05-08 20:42] sohkai commented on #234
Closing as we won't be using the `VaultConnector` yet.

[2018-05-08 20:42] #234 closed

[2018-05-08 20:44] sohkai commented on #271
Duplicate of https://github.com/aragon/aragon/issues/113.

[2018-05-08 20:44] #271 closed

[2018-05-13 07:17] sohkai opened #303 "Double check isInitialized is included for all state-changing public functions"

[2018-05-15 07:56] #303 closed

[2018-05-16 19:08] izqui opened #315 "Update to latest @aragon/os"
I have been debugging for a couple hours today and the issue is that while we are bumping aragonOS versions because the templates are still in the old version of aragonOS some stuff was breaking (discovered because of a mismatch filtering for a topic)

[2018-05-16 23:07] #34 closed

[2018-05-19 04:16] Kyrrui opened #322 "Create App: Service Agreement"
Service Agreement
The Service Agreement is an app that will set the rules of engagement between two organizations, one being the service provider, and the other being the service requester.

To build trust between two entities before entering a binding agreement, two entities may want to come to an agreed upon set of payouts and time requirements with the ability to terminate said agreement if cer

[2018-05-21 13:26] luisivan opened #323 "Insecure dependencies"
We need to bump `hoek` to 4.2.1 everywhere. Looks bad to have a huge warning sign on the repo

[2018-05-21 14:37] Kyrrui commented on #323
I can work on this tonight

[2018-05-21 16:59] luisivan commented on #322
I think @lkngtn could talk to you about this!

[2018-05-21 22:53] sohkai opened #325 "Remove transform-runtime in the app frontends?"
AFAIK they shouldn't be needed... especially as it's meant to be used only as a tooling / library.

Is there a reason they should be?

[2018-05-22 01:46] Kyrrui commented on #323
https://github.com/aragon/aragon-apps/pull/326

[2018-05-22 04:07] luisivan opened #327 "Some links to apps are broken"
Links in https://github.com/aragon/aragon-apps/tree/master/future-apps/payroll to Finance and the Vault seem to be broken

[2018-05-23 04:33] sohkai commented on #323
Closed by #326.

[2018-05-23 04:33] #323 closed

[2018-05-23 05:31] #327 closed

[2018-05-23 05:44] sohkai commented on #231
Closing as we've merged Survey (#287).

[2018-05-23 05:44] #231 closed

[2018-05-23 06:58] izqui opened #333 "Finance: newPayment radspec description should include destination address"
https://github.com/aragon/radspec/issues/29

[2018-05-25 15:55] john-light commented on #333
This also needs to be fixed in the Voting app.

[2018-05-26 17:54] lkngtn commented on #322
We definitely need an application like this, but I think if we can use the court for it we can actually move most of the complexity out of the smart contracts and simple have intent expressed by a human readable agreement.

An interface or template for such an agreement as an app makes a lot of sense!

[2018-05-29 03:47] Kyrrui commented on #322
Yep! Reading through your court documentation I agree entirely. I agree that such a template would be valuable as well.

[2018-06-01 03:56] rainbowjaw opened #350 "Voting didn't close properly"
Was testing the current testnet alpha. Didn't check the version, this was a few days ago.

I set up two accounts. One had more voting tokens (over majority)

I set up a vote with the minority token holder (so vote wouldn't clear automatically)
I voted with the second account as a "no"

The vote timer was still running after transaction had cleared and majority was now reached...
I was able to send

[2018-06-04 12:17] izqui opened #352 "Add transitionsPeriod modifier to Finance fallback"
https://github.com/ConsenSys/aragon-apps-audit-repo/issues/35

[2018-06-04 22:04] john-light opened #353 "Survey app is loading inconsistently"
After a few refreshes it might load. But most of the time I just get a page that looks like this:

![aragonsurveyload](https://user-images.githubusercontent.com/9424721/40944085-4b4abcee-6808-11e8-84eb-366c6725da1f.png)

[2018-06-05 01:17] john-light opened #354 "Survey signer says "vote for multiple options" even though only one option was selected"
![surveymainnet](https://user-images.githubusercontent.com/9424721/40949551-6135fbde-6823-11e8-8347-9999188eca80.png)

[2018-06-05 07:32] bingen opened #355 "Voting and Token-Manager tests are broken"
From aragon/os 3.0.3, `DAOFactory` requires 2 more parameters (Kernel and ACL base). Tests in voting and token-manager apps are still just passing EVM Script Registry Factory and aragon/os version is not pinned.

[2018-06-05 18:53] bingen commented on #355
Sorry, I was in the wrong branch. Closing.

[2018-06-05 19:13] sohkai opened #359 "Survey does not allow you to vote for only one option (at 100%)"
From Rocket chat:

Given what's happening, it's most likely something going wrong when we try to build a transaction. Maybe it's a BigNumber issue with > 1k tokens?

[2018-06-06 11:13] sohkai commented on #359
Confirmed it's an issue with > 1k tokens; the number gets serialized in scientific notation rather than a normal number.

[2018-06-06 11:23] bpierre commented on #359
Fixed https://github.com/aragon/aragon-apps/pull/310/commits/28dfa459238ce8499d1c62bdda641d4ea7625358

[2018-06-06 14:47] sohkai commented on #350
Hey @rainbowjaw, some notes:

I think at this point, the vote wasn't in the majority yet? If I understood correctly, the majority token holder voted no here?

I might be misunderstanding, but isn't this what happened in your case, when you changed the majority voter's vote from no to yes?

Our voting app allows voters to change their vote if the vote hasn't been executed yet, so we don't immediate

[2018-06-06 15:16] sohkai commented on #158
@izqui I think the idea around this doesn't align well with how our CLI currently expects a project to be structured.

One thing we can do to install the frontends on `bootstrap` is to add a `install` hook to also install the frontend's dependencies.

[2018-06-06 15:29] sohkai commented on #184
Closing, as we've replaced the old vault (#292). We can re-open when the time comes to upgrade to the new vault.

[2018-06-06 15:29] #184 closed

[2018-06-06 15:30] sohkai commented on #262
With #229 we'd probably provide a confirmation message to let the user know they're re-voting.

[2018-06-06 15:31] sohkai commented on #267
This was likely due to the node being slow (and no apps loading). This has also been solved with https://github.com/aragon/aragon/pull/262.

[2018-06-06 15:31] #267 closed

[2018-06-06 15:32] sohkai commented on #268
Duplicate of #228.

[2018-06-06 15:32] #268 closed

[2018-06-06 15:51] sohkai commented on #269
Closing for #291. Reason it's failing is because the contract expects token holders in a multisig to always have 0 or 1 tokens.

[2018-06-06 15:51] #269 closed

[2018-06-06 15:51] sohkai commented on #286
Closing with #310 :)

[2018-06-06 15:51] #286 closed

[2018-06-06 15:57] sohkai commented on #235
Closing since we're reverting the multi-standard vault. We can reopen once we start using the new vault again.

[2018-06-06 15:57] #235 closed

[2018-06-06 15:58] sohkai commented on #295
Closing for https://github.com/aragon/dao-kits/issues/2.

[2018-06-06 15:58] #295 closed

[2018-06-06 16:00] sohkai commented on #333
@john-light not sure what you mean by also fixing this in the voting app.

[2018-06-06 22:19] kingjacob opened #362 "Adding reassurance that signing a vote does not cost tokens"
It might be useful to have a specific callout that says voting in the survey won't cost any tokens.

[2018-06-07 07:12] rainbowjaw commented on #350
Ok this was the issue.  I was confused by it, expecting the vote to fail once all votes were cast.

[2018-06-07 07:12] #350 closed

[2018-06-07 07:36] izqui commented on #362
I agree we should add this.

Maybe even also add some extra reassurance that the transaction that will be sent won't be to the ANT contract but to the survey contract

[2018-06-07 15:23] john-light commented on #333
@sohkai the vote signer module should show what the amount and destination address of a payment will be

[2018-06-07 23:57] derekalia opened #363 "Payroll frontend + connect to real data"

[2018-06-08 00:01] derekalia opened #364 "Payroll background script"

[2018-06-08 00:02] derekalia opened #365 "Payroll dao-kits"

[2018-06-08 09:50] izqui commented on #365
This should be tracked in https://github.com/aragon/dao-kits

[2018-06-08 09:50] #365 closed

[2018-06-08 12:21] sohkai opened #366 "Voting app: Voting results UI can be misleading"
See https://github.com/aragon/aragon/issues/264.

The way we currently display the results of a vote is often confusing to new users.

[2018-06-09 11:25] bpierre opened #368 "Voting app: responsive view"

[2018-06-09 11:26] bpierre opened #369 "Voting app: Voting panel redesign"
A few other issues related to the voting panel (as user stories):

- https://github.com/aragon/aragon-apps/issues/212
- https://github.com/aragon/aragon-apps/issues/216
- https://github.com/aragon/aragon-apps/issues/229
- https://github.com/aragon/aragon-apps/issues/260
- https://github.com/aragon/aragon-apps/issues/261
- https://github.com/aragon/aragon-apps/issues/262
- https://github.com/aragon

[2018-06-11 11:57] sohkai commented on #333
@john-light Do you mean when someone votes for a payment?

The only place we could probably add the destination address is in the description of the vote.

[2018-06-12 01:38] john-light commented on #333
Yes when someone votes for a payment it should be clear what the amount and destination of the payment will be when they go to sign the transaction. Maybe some additional metadata about the payment too (e.g. "For contracting May 1 - May 30, 2018").

[2018-06-12 01:49] john-light opened #370 "[META] Create CONTRIBUTING doc for this repo"
Add CONTRIBUTING.md doc with contributor guidelines.

[2018-06-12 09:32] #359 closed

[2018-06-12 13:00] sohkai opened #371 "Fix license report"

[2018-06-12 13:04] sohkai opened #372 "Fix CI"

[2018-06-12 14:04] bingen commented on #362
I agree, when we released the survey app and sent it to some friends to test, I was asked that question.

[2018-06-12 19:19] sohkai commented on #212
The balance of has been fixed at https://github.com/aragon/aragon-apps/pull/342.

We don't display the `snapshotBlock` yet, though.

[2018-06-12 19:21] sohkai commented on #272
We would only be able to do this for votes that haven't been executed, but most likely in the future we'll default to creating votes that aren't automatically executed.

[2018-06-12 19:22] sohkai commented on #277
Closing for https://github.com/aragon/aragon-wiki/issues/289

[2018-06-12 19:22] #277 closed

[2018-06-12 19:46] sohkai commented on #23
Closing as the fundraising app is being deprecated.

[2018-06-12 19:46] #23 closed

[2018-06-13 15:38] sohkai opened #373 "Finance: use more realistic test data"

[2018-06-13 15:39] sohkai opened #374 "Finance: rename setPaymentDisabled"
`setPaymentDisabled()` can also enable the payment, which is confusing

[2018-06-13 15:43] sohkai opened #375 "Finance: Payment struct has confusing name"
`Payment`s are only created for recurring payments. Suggested to name to something more clear, e.g. `RecurringPayment`.

[2018-06-13 19:02] sohkai opened #376 "Add install hook in each app to automatically install their frontends"

[2018-06-14 14:11] sohkai opened #379 "Move test-helpers to its own repo"
Really want to make one version outside of this monorepo that's consistently used across all of our contract repos.

[2018-06-19 00:34] aflesher commented on #68
@izqui I can take a look into this. Does this apply to all the contracts in `apps/`? If so does it make sense to break this down into smaller tasks?

[2018-06-19 13:32] sohkai commented on #68
@aflesher I think we might hold off on this, until we're closer to a 1.0 deployment. The problem is, we've already deployed old versions of these contracts with the array structure, and so making a change now will break compatibility with them.

I've switched the tags to make this more clear, and I'll add back the `good first issue` tag when we're preparing for 1.0.

[2018-06-20 10:58] sohkai commented on #263
@john-light do you remember if it was because the user had too many tokens? I think it's related to the math problems in https://github.com/aragon/aragon-apps/issues/266.

[2018-06-20 10:58] sohkai commented on #264
@john-light do you remember if it was because the user had too many tokens? I think it's related to the math problems in https://github.com/aragon/aragon-apps/issues/266.

[2018-06-20 11:00] sohkai commented on #278
This is an issue with the way we handle radspec strings ATM; it doesn't know that the token we use in the multisig org has no decimals (radspec just assumes 18 decimals all the time).

[2018-06-20 11:02] sohkai commented on #353
Closing this with the recent changes to which node we're pointing to (now pointing to infura): https://github.com/aragon/aragon/pull/284

In general our websocket connection and node infrastructure isn't the most robust... so this may happen a few times :(.

[2018-06-20 11:02] #353 closed

[2018-06-20 11:06] sohkai commented on #266
The Token Manager and Finance apps need to use BN.js when calculating the amount of tokens.

[2018-06-20 21:56] sohkai commented on #371
Completed in FOSSA

[2018-06-20 21:56] #371 closed

[2018-06-25 09:56] izqui opened #385 "Vault should revert on deposit if Kernel reference hasn't been set"
When https://github.com/aragon/aragonOS/issues/325 is implemented, depositing to the Vault should revert if it is not running behind a proxy (detectable when there is no kernel reference), as assets sent there won't be recoverable as the `auth` modifier will revert.

We can prevent ETH from being deposited in regular ways (unless ETH is sent to the address before the Vault is deployed, or sent wit

[2018-06-25 17:01] izqui opened #387 "Build artifact consistency"
The built frontend for all apps is being saved to `app/build`, except for the Survey app which is being saved to `app/dist`. For reference, the wrapper is also being built to `./build`.

Having some consistency here would be great as it would help simplify our scripts. I don't really care about `dist` vs `build` but I would really like making it consistent.

[2018-06-25 18:54] ptrwtts opened #388 "Decouple voting functionality from MiniMe token"
A lot of the Aragon functionality (Voting, Survey, etc) appears to rely on the `balanceOfAt` function found in the [MiniMe](https://github.com/Giveth/minime) token. This means that Aragon Apps only work with MiniMe tokens. It would be good if the checkpointing functionality was generalized, so that developers could easily add it to their tokens, and these tokens would be compatible with Aragon.

S

[2018-06-27 14:56] john-light commented on #264
No it was a general issue, unrelated to the number of tokens. I haven't seen this issue in a while so I will close it.

[2018-06-27 14:56] #264 closed

[2018-06-27 14:57] john-light commented on #263
I haven't seen this issue in a while so I will close it.

[2018-06-27 14:57] #263 closed

[2018-06-27 20:49] sohkai commented on #387
:+1: we can do that. Not sure exactly why we picked one or the other but consistency is good.

[2018-06-27 21:05] sohkai commented on #388
This does sound like a good plan, it might be best to add an EIP for "snapshottable" tokens, based on the MiniMe design as a lot of projects have deployed MiniMe tokens.

Note that some apps, e.g. our Token Manager, requires more than just the snapshottable functionality. They also require the controller callbacks that's similar to the ERC-777 operators.

[2018-06-27 21:31] ptrwtts commented on #388
Interesting. Which controller elements are used? The ability to generate/destroy tokens? These would also benefit from some sort of standard, although there's a lot more inconsistency in how deployed tokens have implemented it (MiniMe uses create/destroy, while Open Zeppelin uses mint/burn).

Is it possible to design the apps so that they work with either generateTokens() or mint()?

As for "snaps

[2018-07-01 12:42] bingen opened #389 "Payroll: Add termination date for employees"
If an employee didn't have an allocation set, trying to remove him would fail. The proposed solution is to add a termination date field to Employee object and allow the employee to withdraw up to that date in cas of termination.

[2018-07-01 12:48] bingen opened #390 "Payroll: bug changing employee salary"
When changing an employee salary, next withdraw would use the new amount also for the remaining period before the change.

[2018-07-02 14:24] izqui commented on #390
I think both this issue and #389 can be solved in a very similar way. We should add a new variable to the employee struct that can keep track of the amount of tokens (denominated in the denomination token) that is owed to the employee, `accruedValue` as suggested by @sohkai. There could also be a role to automatically add more value to this counter for an employee, which would be useful for reimbu

[2018-07-02 15:00] jruffer opened #391 "PayRoll 2.0 or PayWage"
We were going to submit a grant proposal to help us with our payroll issues.  We like what is currently going on with this project but it lacks a few of the features we need as a consulting house.  We have both W2 and 1099 on staff.  We would love to add the features for a project based payroll system instead of a straight employee-based system.

Example:
Accepted 50 ether for a contract[Vault]. (

[2018-07-05 21:11] ptrwtts commented on #388
Thanks @sohkai, just noticed the link you added.

If we were to do our own implementation of balanceOfAt, how hard would it be to adapt Aragon apps to work with this? I'm basically trying to figure out if it's a battle worth fighting, or if we should just switch to MiniMe.

On a related note, I know the Aragon team have been vocal supporters of ERC-777. Is there any plans for a new token template

[2018-07-06 10:05] hailq opened #393 "Cannot compile Vault app"
I tried to compile app and got this error:
[code]

[code]

[2018-07-09 11:31] sohkai commented on #391
@jruffer In this case, a separate "unit allocation" app for each project probably makes the most sense. You could set the initial parameters (USD/hour rate and amount of ETH to allocate) on initializing the app, and then allow some addresses to request units, pending [insert access control, e.g. a vote or approval by token holder].

[2018-07-09 14:35] izqui commented on #388
The giveth team was working on an implementation for an ERC777 'snapshottable' token here https://github.com/Giveth/yogatoken. I don't think it is updated to the latest ERC777 spec but I imagine they will work on it in the future.

We are currently re-evalutating whether requiring all voting tokens to be MiniMe is a good idea going forward. A good alternative (that we are already using https://git

[2018-07-09 16:03] jruffer commented on #391
Interesting. Would you want us to build that and merge it with the current project? Could we still apply for grant money to add this and other features?

[2018-07-10 08:52] onetom commented on #393
Also reported via https://github.com/aragon/aragen/issues/21

[2018-07-10 14:46] sohkai commented on #393
This will be fixed with #292.

[2018-07-10 14:46] #393 closed

[2018-07-10 14:49] sohkai commented on #391
For the grant—depends on the scope of the project, but feel free to send an application to https://github.com/aragon/nest if you think it fits.

Otherwise, there will be small bounties set up for contributing your own apps to a community repo soon :).

[2018-07-10 14:55] sohkai commented on #388
@ptrwtts

This is hard to answer right now. Given that ANT is itself a MiniMe token, you can image we'll try hard to preserve compatibility with it, even if we decide to move to other strategies (e.g. staking).

Potentially if the tokens either declare their interface or one of the interface EIPs becomes widely used... but for now neither of these are true.

Aside from minting / burning, we also u

[2018-07-10 18:42] ptrwtts commented on #388
Staking is certainly a good way to achieve wide compatibility with tokens, although it's potentially a step backwards in UX from MiniMe. The main issues are that tokens a) are locked up and b) no longer appear in your wallet balance. But I think it could work if it used partial locks, so you can vote on multiple proposals in parallel, and followed a standard (maybe [ERC900](https://github.com/ethe

[2018-07-12 13:32] sohkai opened #396 "Token Manager: remove holders"
`holders` was designed to be used by the UI but we're ignoring it right now and just using events.

Changing this will also require changes to the beta kit for initialization.

[2018-07-17 10:15] sohkai commented on #291
It could also detect if someone was already a holder and reject assigning tokens to them in the UI.

[2018-07-17 17:35] bingen opened #406 "Staking: make lock ids innmutable"
See: https://github.com/aragonlabs/curation/pull/13#discussion_r201774552

[2018-07-24 00:20] mariapao commented on #391
Hi @jruffer we fund projects which scope of work needs a funding between $50k and $100k, more or less, so as Brett said, it depends on the scope of the project, and of course, it also depends on what features your are adding. How important they are.

[2018-07-24 15:45] #333 closed

[2018-07-24 15:56] #352 closed

[2018-07-26 12:12] mnaamani commented on #274
I'm seeing the same issue as well.

[2018-07-26 12:18] mnaamani commented on #274
There seems to be a similar behaviour in the TokenManager when trying to assign a large number of tokens, window just closes.

[2018-07-26 15:31] john-light commented on #274
@mnaamani thanks for confirming! Regarding that second issue, we have that filed here: https://github.com/aragon/aragon-apps/issues/266

[2018-07-29 11:05] osarrouy commented on #130
Hey guys,

I'm currently working on the smart contracts which will run the Chaos Machine DAO - basically a crypto-jukebox which grants you a slot in a playlist by burning bank bills ...

I'm think of using ERC721 to do so.

What would need to run a Token Manager able to handle ERC721 ? The same function as the MiniMe Token manager ?

[2018-08-14 16:48] sohkai commented on #275
@john-light Just to clarify, does "impossible amounts" mean more tokens than what the org has, or just invalid text?

[2018-08-14 16:52] sohkai commented on #158
Fixed by https://github.com/aragon/aragon-apps/pull/382.

[2018-08-14 16:52] #158 closed

[2018-08-14 17:01] sohkai commented on #273
Made https://github.com/aragon/aragon/issues/320 for showing the org name elsewhere in the wrapper.

[2018-08-14 17:04] sohkai commented on #276
We could probably swap it with the "Request test tokens" section.

[2018-08-14 17:17] sohkai commented on #261
@john-light Just wanted to clarify, to differentiate this from #229. This is to show the _full_ list of addresses that have voted on a given vote?

[2018-08-14 17:21] sohkai opened #416 "Voting: add ability for people to vote without triggering execution"
Most likely via a checkbox or similar.

[2018-08-15 02:41] john-light commented on #261
@sohkai correct

[2018-08-15 02:44] john-light commented on #273
Ok. To be clear, this issue is about the token name and ticker symbol, not the org name.

[2018-08-15 02:47] john-light commented on #275
More tokens than the Finance app has.

[2018-08-18 18:05] ottodevs opened #417 "Coverage is not working anymore because solidity-coverage bug changes state mutability"
To reproduce the error just clone the repo, run `npm install` and try `npm run coverage`

The errors I am getting seem like this:

[code]
The errors happen when solidity-coverage generates the instrumentation files.

[This was supposed to be fixed by solidity-coverage team](https://github.com/sc-forks/solidity-coverage/issues/131) but since aragon-apps is using a previous version I couldn't test i

[2018-08-18 18:12] ottodevs commented on #417
Coverage is actually working in other branches like `stacking-checkpointing` but these branches are using the same solidity-coverage versions, any ideas on what is happening with `master` branch then?

[2018-08-19 07:12] bingen opened #418 "Try to get rid of compiling warnings"
Main rationale:
https://github.com/ethereum/solidity/issues/4315#issuecomment-398466651
Besides, it would make easier to spot compiling errors while developing, that sometimes get buried among long list of warnings.

[2018-08-20 16:06] lkngtn opened #419 "Token Manager: add functionality to forcibly move tokens"
When tokens are being used to represent authority within an organization it can be useful for those tokens to be set as non-transferrable.

This allows for users to use tokens to **represent reputation** within the organization or **membership in hierarchical groups**.

[2018-08-20 16:49] izqui commented on #419
The non-transferable flag is set when the Token Manager is initialized and we don't allow changing it (a token cannot be changed from transferable to non-transferable or vice-versa), this is already supported in the Token Manager smart contract. This means that the kit that deploys the DAO needs to configure the Token Manager for non-transferable tokens, in the future this will also be doable from

[2018-08-21 17:19] sohkai commented on #419
I think this is key, and goes well with providing more information in the Token Manager for users.

On the fence about this; I think a nice UX improvement would be a way for users to click a button on the interface to transfer tokens, but that can be done without adding more to the token manager's contract itself. Or are we talking about forcibly moving user tokens through protected actions?

[2018-08-21 21:13] sohkai opened #421 "Finance: test transferring tokens with decimals other than 18"
Will likely involve changes in radspec to make this happen smoothly. At the very least, the UI will be wrong about the decimal amounts in its radspec messages.

[2018-08-22 09:01] sohkai commented on #417
Yes... this has been a constant pain point with solidity-coverage. I think bumping to 0.4.3 has worked for most of the other apps.

We'll also be bumping the truffle and solidity-coverage versions up soon, so this should be fixed with that.

[2018-08-22 09:34] izqui commented on #419
@sohkai yep, talking about the Token Manager doing an 'unapproved' `transferFrom` one account to another (which the MiniMe controller can do). This is specially useful for non-transferable tokens that membership in a group, as you can use it to replace members. Again this can be done with in a callscript that performs both burn and mint, but may be clunkier as it would require having both roles.

[2018-08-29 22:08] sohkai commented on #376
This has been done in all the current apps.

[2018-08-29 22:08] #376 closed

[2018-08-30 13:41] sohkai commented on #274
Just realized that this might be a decimal thing, where we're not converting the ETH value correctly (to/from wei as opposed to regular token decimals).

[2018-08-30 13:58] sohkai commented on #417
Will be fixed in #422.

[2018-08-30 13:58] #417 closed

[2018-08-30 14:45] sohkai commented on #276
Assigning @izqui to take ownership of designing a proper funding UX with @jounih.

[2018-08-30 15:03] sohkai opened #423 "Token Manager: display whether the token is transferable or not"
In multisig mode, the token is non-transferable. This should be made visible to users.

[2018-08-30 15:07] sohkai commented on #279
The ability to burn tokens in the token manager's contract, but we need to expose this to users via the UI.

[2018-08-30 15:17] john-light commented on #276
Maybe the Finance app could be designed like a wallet app, with a "send" and "receive" button and the receive button can reveal the QR code and address. It is most of the way there, just missing the receive button.

[2018-08-30 15:38] sohkai opened #424 "Token Manager: assigning a token in a multisig org doesn't work"
Likely related to decimals, but it's weird the forward to the voting app doesn't work.

<img width="399" alt="screen shot 2018-08-30 at 5 37 12 pm" src="https://user-images.githubusercontent.com/4166642/44862705-8c52ed80-ac7b-11e8-8825-3bdaf83f7ae3.png">
<img width="342" alt="screen shot 2018-08-30 at 5 37 30 pm" src="https://user-images.githubusercontent.com/4166642/44862707-8ceb8400-ac7b-11e8-9a

[2018-08-30 15:51] jounih commented on #276
Good ideas @john-light . I think the Finance app could work well as a wallet. It needs a friendly mobile design as well - will work on both together.

[2018-09-02 09:05] sohkai commented on #216
@jounih We should also have a visible state for each vote that requires execution. Maybe something like a "Pending execution" warning.

For example, this is a vote requiring manual execution but the UI currently makes it look as if it's already been executed:

![image](https://user-images.githubusercontent.com/4166642/44954295-1c717c80-aea0-11e8-943a-d4d957086993.png)

![image](https://user-images

[2018-09-04 18:23] bingen opened #427 "Voting: making inequality for passing votes strict?"
Related to https://github.com/aragon/governance/issues/32#issuecomment-416337704
It makes sense for Democracy DAOs but it doesn't for Multisigs, as @sohkai pointed out, e.g., a 2 out of 4 signatures Multisig would require the inequality not to be strict to easily set up a 50%.
An option would be to add a boolean initialization parameter to indicate how inequalities (for both quorum and support) sh

[2018-09-04 21:00] sohkai commented on #427
I like this as an interim solution to making the voting app more generic in general :).

[2018-09-05 17:19] jounih commented on #212
<img width="1387" alt="screen shot 2018-09-05 at 18 11 21" src="https://user-images.githubusercontent.com/10109867/45109669-1d244000-b138-11e8-9134-753317191899.png">

Will add explanatory text explaining how your votes relate to the block at the time of the vote was created to the info box at the bottom, where it currently says "You will cast x vote"

[2018-09-05 17:37] jounih commented on #216
Discussed this with @sohkai and @chris-remus - we will add another list view for "Pending execution" votes to the top, and a button to execute them in the side panel.

We will also change the status "Approved" to "Approved, executed", and "Approved, pending" or similar

<img width="1392" alt="screen shot 2018-09-05 at 18 35 58" src="https://user-images.githubusercontent.com/10109867/45110575-958c0

[2018-09-05 17:53] jounih commented on #229
Discussed with @chris-remus  and @sohkai - once a user has voted, will replace the yes/no buttons with a "Change my vote" button while the vote is still open. We will also use the info box to say what you voted and how many tokens you cast.

Additionally we should have a visual indicator on the listview showing how you voted on each list item.

Lastly, we should have an error state on the side pan

[2018-09-05 17:53] sohkai commented on #262
Closing for #229.

[2018-09-05 17:53] #262 closed

[2018-09-11 08:44] jounih commented on #212
Does something like this work as copy for the info box:

"You will cast xxx votes, since your token balance was xxx at the beginning of the vote."

With maybe linking "beginning of the vote" text to a snapshot of your token balance on etherscan at the historic block when the vote was created.

[2018-09-11 09:00] sohkai commented on #212
We won't be able to directly link to the snapshot directly, but we could link to the snapshot block.

[2018-09-11 11:41] jounih commented on #216
![webapp-1366px - voting 2x](https://user-images.githubusercontent.com/10109867/45358017-00688c00-b5c0-11e8-9673-7ff0113bc495.jpg)

[2018-09-11 13:28] jounih commented on #229
![webapp-1366px - voting change vote 2x](https://user-images.githubusercontent.com/10109867/45363244-ea15fc80-b5ce-11e8-8698-94bd8eed7990.jpg)

[2018-09-11 14:45] jounih commented on #229
Incorporated these points to a voting app UI based on the Survey app - [](https://github.com/aragon/design/issues/10)

[2018-09-12 15:06] sohkai commented on #424
Confirmed that this was with the multisig functionality: addresses can only hold, at most, 1 token, and cannot be assigned more.

See https://github.com/aragon/aragon-apps/issues/291

[2018-09-12 15:06] #424 closed

[2018-09-12 15:39] jounih commented on #273
Discussed - will design token badge that has the logo and ticker in non-expanded version

[2018-09-12 15:44] jounih commented on #423
Add this info to Token info

[2018-09-12 15:51] jounih commented on #279
add action to the overflow menu to remove tokens

[2018-09-14 07:59] jounih commented on #276
Added proposed UX flow for deposit:

[https://invis.io/7RO21FTHU4G](https://invis.io/7RO21FTHU4G)

[2018-09-17 18:21] #315 closed

[2018-09-17 18:21] #372 closed

[2018-09-17 18:21] #385 closed

[2018-09-17 18:21] #418 closed

[2018-09-17 21:34] #68 closed

[2018-09-18 07:54] #396 closed

[2018-09-18 21:39] #427 closed

[2018-09-18 21:58] sohkai opened #461 "Optimize contract state by using uint64"
There are a number of storage variables (or in structs) in the Finance, Survey, Token Manager, and Voting that could be reduced to `uint64`, e.g. block number. Doing so would usually save at least one SSTORE if the state was properly organized.

[2018-09-19 13:47] chris-remus commented on #266
Related to 432.

[2018-09-19 13:50] chris-remus commented on #270
TBD on additional scope. @izqui will add more perspective here.

[2018-09-19 13:52] chris-remus commented on #274
Pending new DAO kit completion.

[2018-09-19 13:52] chris-remus commented on #421
Pending new DAO kit completion.

[2018-09-19 14:01] izqui commented on #265
Do you recall if this was happening in a multisig org? I think it may have been caused by trying to assign a token to a holder that already had one (and there is a limit of just one token per holder in multisig DAOs).

If that was the case, it will be solved with #291, which will provide a warning or disallow the assign action if we know it is going to fail for this reason.

[2018-09-19 16:31] jounih commented on #279
![WebApp-1366px - Tokens - Remove@2x.jpg](https://images.zenhubusercontent.com/5b8ff733fb5dec0b0d9ca453/c4993e67-20a2-4609-aa89-e151b6466080)

[2018-09-19 16:31] john-light commented on #265
I do not recall and I apologize for not documenting that detail when the issue was first reported. If I had to guess, I would say yes. Go ahead and link #291 to close this issue and if it gets reported again afterwards then we can reopen or create a new issue.

[2018-09-19 16:32] jounih commented on #423
![WebApp-1366px - Tokens - Transferrable@2x.jpg](https://images.zenhubusercontent.com/5b8ff733fb5dec0b0d9ca453/faa5e4d1-4a0f-40b0-8779-a79cf558d46c)

[2018-09-19 16:44] jounih commented on #273
![WebApp-1366px - Tokens - token badge@2x.jpg](https://images.zenhubusercontent.com/5b8ff733fb5dec0b0d9ca453/3b7c3b66-fbbb-439d-b763-b0d4b9f15315)

[2018-09-19 16:46] jounih commented on #228
![WebApp-1366px - Tokens - show address@2x.jpg](https://images.zenhubusercontent.com/5b8ff733fb5dec0b0d9ca453/ef92cfbd-461e-420b-9b96-617c5f6f11c0)

[2018-09-20 16:05] chris-remus commented on #279
Changing back to "design: pending", as we're waiting for @jounih to complete the changes we discussed during yesterday's call.

[2018-09-20 16:06] chris-remus commented on #228
Changing back to "design: pending", as we're waiting for @jounih to complete the changes we discussed during yesterday's call.

[2018-09-20 16:06] chris-remus commented on #423
Changing back to "design: pending", as we're waiting for @jounih to complete the changes we discussed during yesterday's call.

[2018-09-20 16:07] chris-remus commented on #273
Changing back to "design: pending", as we're waiting for @jounih to complete the changes we discussed during yesterday's call.

[2018-09-21 08:41] izqui commented on #186
Closed by https://github.com/aragon/aragon-apps/pull/422/commits/ddcc56fc4069db0f3fc513cf854f26d3c0fcace6

[2018-09-21 08:41] #186 closed

[2018-09-21 13:45] bpierre opened #463 "Voting app: the bars should animate when their value change"

[2018-09-21 14:51] #463 closed

[2018-09-21 14:51] bpierre commented on #463
https://github.com/aragon/aragon-apps/pull/448/commits/a289d98223c3a4ffaa4d67ed07bb5e049492098f

[2018-09-24 15:23] jounih opened #464 "Clarify "Quorum" in Vote app"
Quorum is currently difficult to understand.

To make it easier for users to grasp, I'd like to propose the following:

-Separate the two graphs - voting results and quorum.
-Move the Quorum graph to the top, with the Quorum %
-Instead of naming it "Quorum" - which it strictly speaking isn't, since it only tracks absolute "Yes" percentage of total token supply, let's call it "Total Support", with

[2018-09-24 15:31] bpierre commented on #464
Do we want to display “vote will pass” (or an equivalent) on the card itself?

[2018-09-24 15:48] jounih commented on #464
Yeah we could show it maybe top right with a tick, same way like it says "Executed" for past votes

[2018-09-24 15:57] sohkai commented on #464
On the label underneath "time remaining":

There are three states the vote can be in: "won't pass", "will pass when time ends", and "passed (can be executed)". Due to that, I'd suggest the label be "Vote will pass when time ends".

We could also use that label to say "Can be executed" after a vote's timed out, or if a vote's still open, but can be executed (right now the frontend automatically exe

[2018-09-24 17:40] izqui opened #465 "Support Voting app 2.0.0 contract changes"
- `getVote()` now also returns the local `supportRequiredPct` for the vote. We should display this value in the panel.
- Both thresholds are now strict, support and quorum must now be greater than the threshold, equality no longer passes.
- #434: `metadata` and `creator` are no longer part of the state, and need to be fetched from logs. Also applies to Survey.

[2018-09-24 19:40] jounih commented on #464
In the "Open votes" section of the UI we only have two possible states - will pass/won't pass. Since won't pass is the default, for the sake of simplicity, either show nothing, or "Vote will pass" with a tick.

[2018-09-25 14:39] sohkai commented on #379
This might also be alleviated if we use https://github.com/rkalis/truffle-assertions,

[2018-09-25 15:48] sohkai commented on #465
This will require us to get the information in the background script, and to render the view based on each vote's local value rather than the global value.

This will require changes in the user guide, and may also require rewording of the onboarding screen.

[2018-09-25 17:48] sohkai commented on #419
Verdict on this is to initially provide a UI for accumulating actions (see https://github.com/aragon/aragon/issues/363), rather than building this directly into the Token Manager contract.

[2018-09-26 13:39] #216 closed

[2018-09-26 13:39] #212 closed

[2018-09-26 13:40] #229 closed

[2018-09-26 13:43] chris-remus commented on #465
Revisit Friday in context of Token Manager progress. Could be a good issue for @bpierre to work on during trial week next week.

[2018-09-26 13:46] chris-remus commented on #266
Blocked by #432, which will do part.

[2018-09-26 14:05] sohkai commented on #270
Removing from mainnet scope due to requirement on https://github.com/aragon/aragon/issues/363.

[2018-09-26 17:11] sohkai commented on #419
Similar to #270, due to the reliance on https://github.com/aragon/aragon/issues/363 this will be removed from the mainnet scope.

[2018-09-26 17:18] sohkai commented on #212
Fixed in #448.

[2018-09-26 17:19] sohkai commented on #229
Fixed in #448.

[2018-09-26 17:36] sohkai opened #466 "Settings: use app address cards"
We now have great looking address components for apps from the Permissions app, and we should use them in the Settings app :)

[2018-09-28 13:34] bpierre commented on #464
Done, waiting for review https://github.com/aragon/aragon-apps/pull/467

[2018-09-28 13:41] chris-remus commented on #266
@bpierre believes #467 fixed Voting.

[2018-10-01 21:52] ptrwtts commented on #388
@sohkai / @izqui hi, just wondering if you've made any decisions around whether MiniMe will continue to be a requirement?

[2018-10-02 07:59] luisivan commented on #388
From what I know, the current state of affairs is that we will implement a Staking app (contracts are done, we need a UI) so in order to vote, you need to stake the tokens first. That way, we would decouple the voting functionality from the token itself, and it will open the door for any kind of token to be used for voting

[2018-10-02 16:52] bingen commented on #388
Hey @ptrwtts you can see some work on that checkpointing idea here: https://github.com/aragon/aragon-apps/pull/415
Plus some broader discussion about how to move forward with Staking that may be of your interest:
https://research.aragon.org/t/staking-locks-spec-v2/217

[2018-10-03 13:39] chris-remus commented on #464
@izqui Will review.

[2018-10-05 13:42] chris-remus commented on #464
@izqui will test.

[2018-10-08 11:08] sohkai commented on #278
Yes, #426 will fix this.

[2018-10-08 13:43] sohkai commented on #266
Reopening as finance still needs this fixed.

[2018-10-08 16:40] Quazia opened #472 "Create 'test kits' for each individual app"

[2018-10-08 18:47] IvanTheGreatDev commented on #461
I'd like to tackle this!

[2018-10-10 09:38] john-light opened #475 "Strings that are called Actions on the App Permissions screen are called Roles in the Permissions landing page"
The terminology is inconsistent throughout the app. The strings we call "actions" in some places are also called "roles" in others. For example, the "action" string is the human readable interpretation of the "role identifier" string. It would make more sense to either call the "role identifier" the "action identifier", or vice versa call the "action" the "role" instead.

See screenshots for examp

[2018-10-10 09:38] john-light opened #476 "The EVM Registry does not know about its own permissions"
Requires an awkward change to aragon.js.

![permissions_evm1](https://user-images.githubusercontent.com/9424721/46729088-a4f3f180-cc84-11e8-9724-b226190ac61b.png)

[2018-10-10 11:15] luisivan commented on #475
Let's side with permissions, instead of roles. Role is a word used mostly by developers when creating their apps, but it shouldn't be called that way for users

[2018-10-10 16:32] john-light commented on #475
@luisivan  are you suggesting we replace both "action" and "role" with "permission" throughout the app?

[2018-10-11 07:52] luisivan commented on #475
@john-light made a proposal here https://github.com/aragon/aragon/issues/385. Also, we should just remove the word role and the identifier https://github.com/aragon/aragon/issues/384

[2018-10-11 10:13] sohkai commented on #475
@john-light going to close this so the discussion can be held at one place in https://github.com/aragon/aragon/issues/385.

[2018-10-11 10:13] #475 closed

[2018-10-11 12:52] izqui opened #478 "Identify Voting app"
Currently the Voting app doesn't set an identification label for itself, which makes it very hard to differentiate when there are multiple instances:

<img width="205" alt="2018-10-11 at 2 49 20 pm" src="https://user-images.githubusercontent.com/447328/46805261-ebb91880-cd64-11e8-8270-4c23847698a0.png">

<img width="340" alt="2018-10-11 at 2 51 08 pm" src="https://user-images.githubusercontent.com

[2018-10-12 15:45] bpierre commented on #478
It might be a bit confusing to have the support % without indicating of what it is 🤔

[2018-10-12 16:09] jounih commented on #478
I don't think the support % is relevant for the instance name. I would prefer just token symbol, or token symbol + 0x... - like ANT (0xabc…def).

But after discussing with @bpierre on how this relates to the app bundles idea and apps having more control of how they are displayed in the app menu (https://research.aragon.org/t/should-templates-be-apps/225) maybe we need to take a bit more time befor

[2018-10-15 15:01] #476 closed

[2018-10-15 22:44] sohkai opened #488 "Vault: remove ability to call contracts with data"
`Vault.transfer()` should just use the gas-limited `.transfer()` for ETH, to avoid potential security threats.

This will also allow us to remove a bunch of code that was put in place to support the `data` parameter in both `deposit()` and `transfer()`.

[2018-10-15 22:46] sohkai opened #489 "Vault: remove `_from` parameter in `deposit()`"
Unnecessary, as the Vault always requires `_from` to be `msg.sender`.

[2018-10-15 22:47] sohkai opened #490 "Add revert messages"
See https://github.com/aragon/aragonOS/issues/438

[2018-10-16 12:55] #489 closed

[2018-10-16 13:09] sohkai commented on #464
Closed by #467.

[2018-10-16 13:09] #464 closed

[2018-10-16 13:13] sohkai commented on #423
Closed by #480

[2018-10-16 13:13] #423 closed

[2018-10-16 13:14] sohkai commented on #279
Closed by #480.

[2018-10-16 13:14] #279 closed

[2018-10-16 13:15] sohkai commented on #273
Partly completed by #480, popover component will be added once it's ready in aragon-ui.

[2018-10-16 13:18] sohkai opened #493 "Disable apps' empty states if the app is not ready yet"
With https://github.com/aragon/aragon-ui/pull/219 we can now disable all the buttons on the empty state when the app is still loading.

Alternatively, we could think about a better "loading" indicator for these apps.

[2018-10-16 13:20] sohkai opened #494 "Create lerna package for frontend utils"
From https://github.com/aragon/aragon-apps/pull/486#discussion_r225525210:

Would be great to move all the tests we have for the utils to this package.

[2018-10-16 13:25] #228 closed, assigned to bpierre, jounih

[2018-10-16 13:29] bpierre commented on #273
To be done when `TokenBadge` will be implemented https://github.com/aragon/aragon-ui/issues/221

[2018-10-16 14:04] sohkai commented on #423
Note that the change in #480 will only show "NO" in organizations using the `aragon-apps@4` versions of the Token Manager contracts.

In earlier Token Manager iterations, the app itself controlled whether the token would be transferrable rather than directly setting it in the token.

[2018-10-16 15:29] #488 closed

[2018-10-16 21:55] #490 closed

[2018-10-17 14:18] sohkai opened #500 "Frontends: use correct network details"
Relies on https://github.com/aragon/aragon.js/issues/116.

Apps should detect which network they're on and react appropriately (right now this is mostly to build the correct etherscan URL).

[2018-10-17 22:19] #266 closed

[2018-10-18 13:45] john-light opened #505 "Execution of votes aren't automatic"
After a vote is approved, it enters a "pending execution state". A final transaction is needed to "execute" the vote. Is there a way we can automate this?

Problems with the current model:
- Users might not know they need to send a final transaction to execute after the vote is over.
- Multiple users might try to execute the vote at the ~same time, wasting gas and block space.

How can we solve th

[2018-10-18 13:46] john-light commented on #505
@izqui says:

[2018-10-18 20:50] izqui commented on #374
Yes @IvanTheGreatDev. Closed by #474!

[2018-10-18 20:50] #374 closed

[2018-10-19 10:46] john-light opened #506 "Proposal rejected before it has been voted on"
Any idea why this is happening? I tried to create a proposal to assign a token to myself when I wasn't a member of the organization yet. It seems to have been rejected before any of the org members have had a chance to vote.

![aragon_vote_rejected](https://user-images.githubusercontent.com/9424721/47213957-d1062580-d39c-11e8-8315-fc6574415dcd.png)

I was told I could create a vote to perform this

[2018-10-19 10:54] john-light opened #507 "Remove token failed"
I have two members in my org. I used one of the member accounts to try and remove the other member. The app gave me this error:

![aragon_remove_token_fail](https://user-images.githubusercontent.com/9424721/47214414-28f15c00-d39e-11e8-95dd-97baa87fb38e.png)

[2018-10-19 11:07] john-light opened #508 "New organization shows unknown entities with permissions"
Just created this organization. None of the entities that look like Ethereum addresses are any of my accounts. What are these accounts?

![permissions_who](https://user-images.githubusercontent.com/9424721/47214964-e4ff5680-d39f-11e8-8fae-b0e08360a27e.png)

[2018-10-19 12:44] john-light commented on #507
@izqui it looks like the "burn tokens" action does not have a manager. But should we show buttons in apps to perform an action that no one can do yet?

[2018-10-19 12:46] john-light opened #509 "Token Manager: "Burn token" action in Permissions is inconsistent with "Remove token" button in Token Manager"
In the Permissions app the action is called "Burn tokens" but in the Token Manager app it is called "Remove tokens". They should be called the same thing so users are not confused.

![aragon_burn_remove](https://user-images.githubusercontent.com/9424721/47218966-c0aa7680-d3ad-11e8-96f1-065e8bc7239d.png)

![aragon_burn_revoke](https://user-images.githubusercontent.com/9424721/47218975-c43dfd80-d3ad

[2018-10-19 12:49] izqui commented on #507
@john-light certainly not, but this is information apps currently don't have. There is an open issue in aragon.js for exposing this sort of info to apps, which could then use to hide parts of the UI https://github.com/aragon/aragon.js/issues/162

[2018-10-19 12:53] john-light commented on #507
@izqui ok thanks, I will close this issue in favor of the one you linked then

[2018-10-19 12:53] #507 closed

[2018-10-19 12:53] bingen commented on #508
Yes, I'm pretty sure they are fixed, see here:
- "Create permissions":
https://github.com/aragon/dao-kits/blob/master/kits/democracy/contracts/DemocracyKit.sol#L65
- "Manage apps":
https://github.com/aragon/dao-kits/blob/master/kits/beta-base/contracts/BetaKitBase.sol#L140
- "Mint tokens":
https://github.com/aragon/dao-kits/blob/master/kits/beta-base/contracts/BetaKitBase.sol#L141
- The common fun

[2018-10-19 13:03] john-light opened #510 "Make vote descriptions more user-friendly"
Currently the vote descriptions have addresses where we could instead show app badges ("Voting App", hover over to see full address) or (once we have the identity app) ENS names for entities. Using badges and ENS names the descriptions become much more easy to read.

![aragon_vote_description](https://user-images.githubusercontent.com/9424721/47219781-1718b480-d3b0-11e8-919c-386a058314cf.png)

[2018-10-19 13:05] sohkai commented on #506
@john-light Odd, might be the voting UI having a bug calculating if new votes are rejected. Which DAO is this?

[2018-10-19 13:09] john-light commented on #506
@sohkai yetanothertest. Note that when I tried to assign the token from an account that was already a member, the vote was created as expected.

[2018-10-19 13:13] sohkai commented on #508
@john-light Let's double check this with the new contracts when they get deployed to staging :).

[2018-10-19 13:17] sohkai commented on #510
And we could also add a "role badge" for permissions bytes!

[2018-10-19 14:07] bingen commented on #508
I now realize that what I said before accounts for the last account `0x344b...`, for the other two ones it should be here:
https://github.com/aragon/aragonOS/blob/dev/contracts/factory/DAOFactory.sol#L59
But as @sohkai said, let's check again with the new deployment.

[2018-10-19 19:29] sohkai commented on #275
This was actually fixed with #501, pulling it into the mainnet release to test and confirm.

[2018-10-19 22:20] #265 closed

[2018-10-19 22:21] bpierre commented on #291
Fixed by https://github.com/aragon/aragon-apps/pull/504

[2018-10-19 22:21] #291 closed

[2018-10-20 20:11] IvanTheGreatDev commented on #509
Hmm, well the first one says `assign` (which sounds like it doesn't involve minting) and `remove` while the second one says `mint`, `assign` and `burn`.

Are remove and burn different? What's the difference between assign and mint?

[2018-10-21 09:11] sohkai commented on #509
@IvanTheGreatDev These terms are indeed a bit confusing.

The terminology we use in the contracts:

- "mint": mint tokens to a receiver
- "issue": mint tokens to the token manager itself (to be later "assigned")
- "assign": assign tokens from the token manager to a receiver
- "burn": destroy tokens from an account holder

In the frontend, these terms have been mapped to:

- "assign tokens" -> "min

[2018-10-21 09:28] IvanTheGreatDev commented on #509
Okay so I will prepare the front-end to rename assign to mint and remove to burn if they appear to be used in the wrong context.

[2018-10-21 09:59] IvanTheGreatDev commented on #509
Hmm, is there any guide to using and setting up the apps? I've tried to open up the token-manager app and I'm stuck at the `assign tokens` front page. I enter an address and amount but then when I click assign the address window closes and nothing happens.

[2018-10-21 10:42] john-light commented on #509
FWIW I did not intend with this issue to introduce technical terms like "mint" and "burn" to the frontend, rather I'm hoping that we can abstract those technical terms away from users everywhere. Are the "action" strings in the Permissions app coming directly from the contracts or some middle-layer?

[2018-10-22 22:33] #506 closed

[2018-10-23 11:41] sohkai commented on #509
They are provided by an app developer as part of the `arapp.json`. The role ID should match the one they use in the contract, but the description can be anything.

I agree, "burn" specifically is quite unfriendly. To compound this problem, the radspec string we have for `burnTokens()` is "Burn X tokens from Y" so users will also see this on the signing panel.

[2018-10-25 11:00] sohkai opened #525 "Fix coverage of Finance app on CI"
We had to allow coverage testing of the finance app to fail in https://github.com/aragon/aragon-apps/pull/522, due to how excessively long it took.

We should remove this when the tooling accommodates faster builds.

[2018-10-25 11:19] #465 closed

[2018-10-25 20:04] #500 closed

[2018-10-29 00:15] sohkai opened #537 "Creating new votes through a token manager that holds tokens causes skewed votes"
If a Token Manager holds the governance token for a voting app, either because someone transferred tokens to it or it issued tokens to itself, and a vote is created by forwarding through the Token Manager, the Token Manager will automatically vote "yea" based on its current holdings.

Some potential ways to solve this:

- Don't vote automatically when creating votes through a forward: the same UX

[2018-10-29 22:11] john-light opened #546 ""Permission manager" -> "Manager" in the UI"
In discussion with @sohkai we decided that "Permission manager" should be simplified to "manager" throughout the Permissions UI.

[2018-10-29 22:12] john-light opened #547 ""Permission manager" -> "Manager" in the codebase"
In discussion with @sohkai we decided that "Permission manager" should be simplified to "manager" throughout the code base.

[2018-10-30 00:41] izqui commented on #421
Tested depositing and withdrawing tokens with 0 and 2 decimals and it is now working properly.

[2018-10-30 00:41] #421 closed

[2018-10-30 00:42] izqui commented on #274
No longer an issue, ETH transfers and properly working now.

[2018-10-30 00:42] #274 closed

[2018-10-30 00:43] izqui commented on #275
Tested and it was indeed fixed.
![ 2018-10-30 at 1.43.01 AM.png](https://images.zenhubusercontent.com/599ac58d8f62dc7798c37e63/bd7ae5bb-6ba2-4363-a505-9ff2b7c94162)
![ 2018-10-30 at 1.43.11 AM.png](https://images.zenhubusercontent.com/599ac58d8f62dc7798c37e63/382168e7-f26a-48ec-9b9e-1b358e8fe58e)

[2018-10-30 00:43] #275 closed

[2018-10-30 00:48] izqui commented on #508
These have been cleaned up with the current release of the kits:

![ 2018-10-30 at 1.48.14 AM.png](https://images.zenhubusercontent.com/599ac58d8f62dc7798c37e63/7c260ff0-47bb-48bd-8ec6-1af5d7947ccf)

[2018-10-30 00:48] #508 closed

[2018-10-30 05:57] sohkai commented on #276
Fixed with #527 and #549.

[2018-10-30 05:57] #276 closed

[2018-11-01 14:19] aunyks opened #558 "Lerna Failure While Running Tests?"
Hi all, I've been having trouble running tests using Lerna and was wondering if there's any insight here.

**Node**: v8.0.0
**NPM**: v6.4.1
**Lerna**: v3.4.3
**Yarn** (same problem): v1.7.0
[code]

[2018-11-01 14:29] bpierre opened #559 "Voting: the voting numbers should start at #1 rather than #0"

[2018-11-02 15:29] lismore commented on #23
Apologies @sohkai  for dropping the comment here, I have been testing out https://rinkeby.aragon.org and the team I am working with are looking to fundraise & divide ownership of the DAO.  I see examples of a fundraising app in screenshots of the aragon user interface but searching for it looks like it is deprecated.  Where can I find more information about the deprecation.  Is there a repo for th

[2018-11-03 11:19] IvanTheGreatDev commented on #509
Gotcha, am away until the 10th, if theres anyone who wants to take this before I'm back feel free to do so.

[2018-11-03 11:56] IvanTheGreatDev commented on #375
I think `RecurringPayments` is the best name since they occur at a set interval.

Does this also mean `mapping (uint256 => Payment) internal payments;` is changed to `recurringPayments`?

I think leaving the rest of the functions as payment is fine, I'm just not sure about the above.

[2018-11-03 11:57] IvanTheGreatDev commented on #416
Any chance you can provide more details on this?

[2018-11-03 14:21] izqui opened #561 "Finance: support tokens returning their name and symbol as 'bytes32'"
For some reason, Dai uses a `bytes32` state variable for its [name and symbol](https://etherscan.io/token/0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359#readContract) 🤷‍♀️

The Finance app doesn't support this edge case and the UI looks confusing right now:

<img width="439" alt="2018-11-03 at 3 17 35 pm" src="https://user-images.githubusercontent.com/447328/47953302-14a38680-df7c-11e8-9893-7f062059f3

[2018-11-03 19:55] izqui opened #562 "Finance, Vault: non-compliant ERC20 deposits fail."
OpenZeppelin had a non-compliant ERC20 version for some time in their master branch, which has caused many tokens out there to be non-compliant with the standard. Concretely, they decided to stop returning the result boolean in the `transfer` and `transferFrom` functions. This was all fine until [Solidity 0.4.22 started checking the actual return data](https://medium.com/@chris_77367/explaining-un

[2018-11-04 09:45] izqui commented on #562
Adex has an implementation similar to what I was thinking we should implement: https://github.com/AdExNetwork/adex-protocol-eth/blob/master/contracts/libs/SafeERC20.sol

[2018-11-05 15:32] sohkai commented on #375
Given that this didn't make it to 0.6, any external interfaces will likely be difficult to upgrade afterwards (the event names, at least, will be difficult to upgrade).

Just renaming the struct and the mapping would be a good start :). We will likely handle the rest of the nomenclature in the frontend when it grows to have more budgeting / etc features.

[2018-11-05 15:37] sohkai commented on #23
You can find the [old fundraising app in this repo's history](https://github.com/aragon/aragon-apps/blob/e1f7d0cbf123135c5539faa923cfa72d6b037d67/apps/fundraising/contracts/Fundraising.sol), but that one is particularly outdated and will not work out of the box (nor has it been audited!).

We decided to deprecate it based on learnings about most users wanting to come up with interesting new ways t

[2018-11-05 15:55] sohkai commented on #558
It could be that you're on node 8 (suggested is 8.9+, or a newer LTS). On node 10 and macOS 10.14, `npm run test:all` starts the tests for me.

[2018-11-05 18:13] sohkai commented on #558
Weird... what if you try `npm run test:voting` or one of the other test scripts?

[2018-11-05 18:15] aunyks commented on #558
Yea it happens in every app (including `payroll`) that I try to test.

[2018-11-05 18:51] sohkai commented on #558
Really weird :(. What if you go into the apps' directories themselves and try to run `npm run test`?

Wonder if it might also be something related to lerna being installed globally? We're using 2.11.0 (and that's what getting installed and run from the scripts), but maybe having lerna 3.4.3 confuses it?

[2018-11-05 19:36] aunyks commented on #558
After removing my global installation of Lerna, the tests still fait from the root directory, but `cd`-ing into each app, installing modules, and running tests works successfully.

[2018-11-06 14:55] sohkai opened #563 "Update publish scripts in all the apps"
There should be a script to publish to each of the three environments (staging, rinkeby, mainnet), and the publish script should:

- Run `truffle compile --all`
- Clear the `app/build` folder
- Run the parcel build script with `--no-cache` (probably just change the app's build script?)
- Publish to the correct environment, with the right asset folder

[2018-11-06 16:14] sohkai commented on #564
We should add the address badge to all the apps, whenever we see an address.

@bpierre @jounih I believe this is already done for the following:

- [ ] Voting
- [x] Finance (almost, I think the withdrawal panel is the only one that doesn't use the address badge since it's a text input)
- [ ] Token Manager
- [ ] Survey

[2018-11-07 05:06] aunyks commented on #558
Closing because this works all the sudden 🤷‍♂️

[2018-11-07 05:06] #558 closed

[2018-11-07 12:00] sohkai commented on #558
Hmm, maybe there was a hidden dependency that got bumped in the last day or so causing this. Maybe the one time a lock file would've saved some hassle.

[2018-11-13 10:18] luisivan opened #569 "Token balances don't load"
Steps to reproduce:
1. Go to one of these organizations https://mainnet.aragon.org/#/circle.aragonid.eth/0x9eba873dbaabec7c9fff1fe85cfe9c6c12af36ea https://mainnet.aragon.org/#/dutchx.aragonid.eth/0xa688d3ca7cadded04fcb62d25db79ef49c1ca7b5 https://mainnet.aragon.org/#/ccde.aragonid.eth/0xe5deaf1cab4a3023eaa22484f0cb7f45c0700a52
2. There should be token balances, as otherwise their organizations wo

[2018-11-13 14:08] izqui commented on #569
I may be better to fix it in aragonJS, by checking external logs from the app initialization block by default, unless the app explicitly specifies the `fromBlock`

[2018-11-13 19:32] sohkai commented on #260
We added this with the card re-design, but then took it out again after some debate in https://github.com/aragon/aragon-apps/pull/560 because starting from 0 was misleading.

[2018-11-13 19:40] john-light commented on #260
ok @sohkai since #560 was merged does it make sense to close this now?

[2018-11-13 19:42] sohkai commented on #260
I'd say so :).

[2018-11-13 19:42] #260 closed

[2018-11-14 08:19] izqui commented on #130
Yes that's the idea. An NFT token manager would be allowed to mint new tokens if allowed by the ACL.

[2018-11-14 16:43] john-light opened #574 ""Total support" in Voting app is confusing"
In the Voting app on the "view vote", there is a section called "Total support" but this section should probably be called something like "Progress towards Min. Quorum". Then below, where it shows the state of the vote, it says "Current votes (50% needed)" but should probably say something like "Current support (50% needed)".

![screenshot_2018-11-14 aragon](https://user-images.githubusercontent.c

[2018-11-14 22:42] #574 closed

[2018-11-15 17:12] sohkai commented on #559
Closed by #560.

[2018-11-15 17:12] #559 closed

[2018-11-15 17:16] sohkai commented on #390
Merged with #479.

[2018-11-15 17:16] #390 closed

[2018-11-15 17:16] sohkai commented on #389
Merged with #479.

[2018-11-15 17:16] #389 closed

[2018-11-15 20:01] john-light opened #578 "Add "You voted" icon to Voting card"

[2018-11-16 12:54] sohkai commented on #578
Hmm, I think @bpierre and @jounih were talking about something like this when we were moving the Voting app to use the card layout. Might've fallen through the cracks though.

[2018-11-16 13:09] #364 closed

[2018-11-16 13:09] sohkai commented on #363
Closing for #576

[2018-11-16 13:09] #363 closed

[2018-11-16 13:46] sohkai commented on #578
@john-light Ah, actually, you can see if you've already voted on a particular vote as there'll be a "You" label next to the option you voted on.

[2018-11-16 13:59] sohkai commented on #478
Closed by #571.

#571 is a stopgap, mostly for AGP-1, but the general solution will likely involve https://github.com/aragon/aragon/issues/483.

[2018-11-16 13:59] #478 closed

[2018-11-16 14:52] sohkai opened #579 "Voting: create a vote that starts in the future"
Generally it would be useful to have the functionality to schedule a vote to start in the future. This is made somewhat complicated by the need to take a snapshot block at the start of the vote.

[2018-11-16 15:57] john-light commented on #578
Ah yes I see that now! Thanks, closing.

[2018-11-16 15:57] #578 closed

[2018-11-19 16:03] sohkai commented on #325
I think we need these, coupled with `@babel/runtime`.

[2018-11-19 16:03] #325 closed

[2018-11-21 07:18] john-light opened #581 "Voting app not allowing a token holder to vote"
User with address 0x81aaA9a7a8358cC2971B9b8dE72aCCe6d7862BC8 was added to this org https://mainnet.aragon.org/#/dsoe.aragonid.eth/0xf0a0337b46f7b3b198009febeb59d6ed54a35f5a and despite being a token holder cannot vote on this proposal (screenshot is from the user's own computer).

I have made sure that metamask is open to the right account and we tried refreshing/clearing cache - none of these hav

[2018-11-21 21:14] john-light opened #582 "Change "New vote" to "New poll""
In the voting app the button says "New vote" and that "Votes are informative". But the binding votes are also called "votes", so calling these the same thing while defining them differently is confusing.

What is called a "vote" in the "New vote" panel should really be called a "poll", since it is an informative question with a simple "yes" or "no" answer.

![screenshot_2018-11-21 aragon](https://

[2018-11-21 21:16] john-light opened #583 "Inaccurate string in the "New vote" panel"
When you click the "New vote" button in the Voting app, at the bottom it says:

However this is not true anymore. When I created a new vote I had to add my vote afterwards.

[2018-11-22 09:28] luisivan opened #598 "Empty screens are not centered anymore"
Not vertically centered anymore

![image](https://user-images.githubusercontent.com/718208/48893764-60da3c00-ee41-11e8-955c-16d9ce349476.png)

[2018-11-22 18:35] dizzypaty opened #585 "View organisation funds (Agent app functional requirement: General)"
As an Aragon DAO participant or group of participants, I would like to have a view of the specific DAO funds so I can know the DAOs balance at all times.

Please refer to the [project PRD](https://www.notion.so/Agent-app-PRD-Product-Requirement-Document-06cfd6944f4e4c58ad9bb4fe3877d618 ) for more detailed information.

[2018-11-23 13:34] dizzypaty opened #587 "Agent: deposit funds"
As an Aragon DAO participant or group of participants, I would like to manage the assets by creating a new transfer so I can deposit funds in the Vault app.

Please refer to the [project PRD](https://www.notion.so/Agent-app-PRD-Product-Requirement-Document-06cfd6944f4e4c58ad9bb4fe3877d618) for more detailed information.

[2018-11-23 13:34] dizzypaty opened #588 "Agent: withdrawal funds"
As an Aragon DAO participant or group of participants, I would like to manage assets by creating a new transfer so I can withdrawal funds in the Vault app.

Please refer to the [project PRD](https://www.notion.so/Agent-app-PRD-Product-Requirement-Document-06cfd6944f4e4c58ad9bb4fe3877d618) for more detailed information.

[2018-11-23 13:35] dizzypaty opened #589 "Create actions (Agent app functional requirement: Actions)"
As an Aragon DAO participant or group of participants, I would like to create actions with the Actor app so I can interact with other with other organisations, arbitrary external applications, private accounts, contracts or protocols.

Please refer to the [project PRD](https://www.notion.so/Agent-app-PRD-Product-Requirement-Document-06cfd6944f4e4c58ad9bb4fe3877d618) for more detailed information.

[2018-11-23 13:35] dizzypaty opened #590 "Create actions (Actor app functional requirement: Actions)"
As an Aragon DAO participant or group of participants, I would like to create actions with the Actor app so I can interact with other with other organisations, arbitrary external applications, private accounts, contracts or protocols.

Please refer to the [project PRD](https://www.notion.so/Agent-app-PRD-Product-Requirement-Document-06cfd6944f4e4c58ad9bb4fe3877d618) for more detailed information.

[2018-11-23 13:35] dizzypaty opened #591 "Browse list of performed / past actions (Agent app functional requirement: Actions)"
As an Aragon DAO participant or group of participants, I would like to browse the list of performed / past actions so I can analyse and understand the DAOs activity.

Please refer to the [project PRD](https://www.notion.so/Agent-app-PRD-Product-Requirement-Document-06cfd6944f4e4c58ad9bb4fe3877d618) for more detailed information.

[2018-11-23 13:36] dizzypaty opened #592 "Filter list of performed / past actions (Agent app functional requirement: Actions)"
As an Aragon DAO participant or group of participants, I would like to filter the list of performed / past actions so I can find the one (or set) that I need faster.

Please refer to the [project PRD](https://www.notion.so/Agent-app-PRD-Product-Requirement-Document-06cfd6944f4e4c58ad9bb4fe3877d618) for more detailed information.

[2018-11-23 13:36] dizzypaty opened #593 "View actions details in Etherscan (Agent app functional requirement: Actions)"
As an Aragon DAO participant or group of participants, I would like to view / access more detailed information of a performed / past action in Etherscan

Please refer to the [project PRD](https://www.notion.so/Agent-app-PRD-Product-Requirement-Document-06cfd6944f4e4c58ad9bb4fe3877d618) for more detailed information.

[2018-11-23 13:37] dizzypaty opened #594 "Agent: set conditional permissions for actions"
As an Aragon DAO participant or group of participants, I would like to set conditional permissions for the actions I create

Please refer to the [project PRD](https://www.notion.so/Agent-app-PRD-Product-Requirement-Document-06cfd6944f4e4c58ad9bb4fe3877d618) for more detailed information.

[2018-11-23 13:37] dizzypaty opened #595 "Agent: represent the identity of the organisation"
As an Aragon DAO participant or group of participants, I would like to use the DAOs identity on my behalf.

Please refer to the [project PRD](https://www.notion.so/Agent-app-PRD-Product-Requirement-Document-06cfd6944f4e4c58ad9bb4fe3877d618) for more detailed information.

[2018-11-23 13:40] #590 closed

[2018-11-23 19:05] john-light opened #596 "Add contextual data fields for votes"
It would be nice if users could easily find more contextual information about a vote.

For example, in the recent AGP-1 vote we put a link to the raw AGP-1 file directly in the vote question. This is a bit clunky. It would be nice if, instead, there were a couple of extra fields such as:

Resource link:
Discussion link:

Users could then link to a github/IPFS/swarm/ etc file for the resource link

[2018-11-23 22:34] john-light commented on #596
Related to / possibly superceded by: https://github.com/aragon/aragon/issues/452

[2018-11-26 22:41] MidnightLightning opened #597 "Add way to find/recognize foreign token deposits"
If a deposit is initiated from the Finance app, the string referencing going along with the deposit can get properly saved (and the actual transfer is done by the ERC20 `transferFrom()` function).

However, if someone sends ERC20 tokens directly to the Finance app (an airdrop, or someone who didn't think to go through the Finance app UI), those funds are under the authority of the Finance app, but

[2018-11-29 14:56] sohkai opened #600 "Finance: stop storing transactions"
In Finance, we currently store each incoming and outgoing transaction in storage. However, we technically don't need to keep this information, since we don't do anything else with these saved transactions. It'd be unlikely another on-chain contract would be interested in these transactions.

This would save a ton of gas on each incoming deposit and outgoing transaction (~100k gas).

[2018-11-30 00:59] sohkai commented on #597
Closing for https://github.com/aragon/aragon/issues/496. Technically, it'd be better if you _recovered_ the tokens into the organization's vault, as any funds stuck on the app proxies are unusable.

[2018-11-30 00:59] #597 closed

[2018-11-30 09:58] #598 closed

[2018-12-01 14:18] sohkai commented on #596
We could make a proper spec out of the Survey metadata and support it in the Voting app: https://github.com/aragon/aragon-apps/issues/231#issue-310786634.

[2018-12-01 15:34] sohkai commented on #45
This will be done with the Actor app (see #580).

[2018-12-01 15:34] #45 closed

[2018-12-01 15:37] sohkai commented on #366
This has been addressed through multiple adjustments to the voting panel, including changing the labels and progress bars.

[2018-12-01 15:37] #366 closed

[2018-12-01 15:39] sohkai commented on #369
@bpierre I'd say we can close this issue since we've addressed most of the problems through multiple adjustments to the voting panel, and the tasks left are not directly related to the panel itself.

[2018-12-01 15:39] #369 closed

[2018-12-01 15:39] #368 closed, assigned to nobody

[2018-12-01 15:40] sohkai commented on #388
@ptrwtts We've written up some of our research on this: http://blog.aragon.one/aragon-voting-part-1-ethereum-storage-time-machine/

[2018-12-01 15:42] sohkai commented on #583
@john-light I'd say this will be fixed with https://github.com/aragon/aragon-apps/issues/416. That would allow someone to choose if they automatically vote or not.

[2018-12-01 16:19] sohkai commented on #242
@bpierre Should we close this since the Voting app's been redesigned to use cards?

[2018-12-01 16:37] john-light commented on #416
It seems like this would be something that you'd want to control at both the smart contract level and the UI level.

At the smart contract level: `Allow executing the vote before time is over: Yes or No`.

And if it is allowed, add a checkbox in the vote UI:

`[ ] Execute the vote if passed with this vote.`

[2018-12-02 11:55] sohkai opened #602 "Fix CI"
`lerna bootstrap` is causing the CI to fail because it takes too long to install.

The best way to solve this right now is likely to have a `install:contracts` command that ignores each app's frontend installation as we don't currently test them. This could be done via a separate install script that checks if a given env var is on (e.g. `INSTALL_FRONTENDS`) before going ahead and running `npm inst

[2018-12-02 14:03] bingen commented on #406
Closed in favor of https://github.com/aragon/staking/

[2018-12-02 14:03] #406 closed

[2018-12-02 19:16] ptrwtts commented on #388
Bravo.

The use of proofs is a great way to bring checkpointing to any token. And by the sounds of it, you're also planning to do aggregated submissions as a way to lower the cost per voter, which is also cool. These are the sorts of solutions we were thinking we would need to build _on top_ of Aragon, but baking them into the system and making it available to everyone makes a lot more sense.

Sep

[2018-12-04 18:43] sohkai commented on #388
@ptrwtts

We're still brainstorming use cases for the proofs, but we'd love to hear any particular areas you think this would apply to. The most immediate use case is checkpointing, of course :).

The gas cost requirements for sending the proof on-chain is somewhat prohibitive for cases where a simple SLOAD would work.

[2018-12-11 13:58] sohkai commented on #391
Closing, as this won't be something we will maintain in this repo for the foreseeable future. We will reopen the issue if we consider it again!

[2018-12-11 13:58] #391 closed

[2018-12-11 14:02] sohkai commented on #236
@izqui Closing this as adding a new test token at this point is pretty pointless, especially if you can only get it randomly. People likely know about DAI and will use it appropriately on the mainnet version.

[2018-12-11 14:02] #236 closed

[2018-12-12 14:37] dev1644 commented on #582
Hi, So should "New Vote" should be called "New Poll" and "Votes are informative" to "Polls are informative"?

[2018-12-13 19:15] stefanionescu opened #609 "Npm install does not finish"
When I npm install, the process gets stuck at @aragon/apps-finance. I've been waiting for half an hour and it's still not finishing.

![aragon](https://user-images.githubusercontent.com/15263515/49961758-1b7acd00-ff1c-11e8-983f-1ea158261ef2.png)

[2018-12-13 19:17] #609 closed

[2018-12-13 19:18] stefanionescu commented on #602
Also have problems with lerna. Gets stuck at @aragon/apps-finance
![aragon](https://user-images.githubusercontent.com/15263515/49961948-97751500-ff1c-11e8-8b46-b15038f2ee54.png)

[2018-12-14 16:39] sohkai commented on #230
@jounih I think we've made a lot of progress in terms of defining the notification behaviours we want from our last discussion. Would it be possible to write up the notes (not sure where to put it, as it'd act more like a developer guide)?

[2018-12-17 20:53] #583 closed

[2018-12-21 07:42] sohkai commented on #561
#616 and a fallback for `bytes32` (this issue) will be merged together in Finance.

[2019-01-08 05:36] sohkai opened #620 "Finance: have a way to export to CSV"
Useful for bulk-exporting all of an organization's transactions to a spreadsheet / book keeping tool, so that it's easier for them to manage their accounting through Aragon.

Possibly a different take on this is to provide a guide to run a CLI script that will grab all the transaction data from a Finance app.

[2019-01-08 11:22] izqui opened #621 "Finance: Increase gas limit for deposits when period transitions are required"
I believe we are hard-coding 420k gas for Finance deposits, which is not enough for gas ineficient tokens MiniMe tokens like ANT ;)

See OOG tx: https://etherscan.io/tx/0xecf9f14c061f8c78d146188faaefefe59da5032f30ada1f609c61631aa360b5f
Successful tx: https://etherscan.io/tx/0x2f5fee79913036a409e00778848c8b746ac29f9027fde58f05a408f847baf79c

We should test whether increasing it to 450k is enough, t

[2019-01-08 11:24] izqui opened #622 "Finance: allow copying addresses from the 'Source/Recipient' column"
In Chrome I am unable to select the text in the entity component in 'Source/Recipient' which would be quite convenient for copying an address for doing a deposit or withdraw with a previous address.

[2019-01-09 08:12] izqui opened #623 "Voting: single delegation"
Started working on an issue here but ended up posting it to the forum so we can have the discussion there until some basic questions have been addressed.

https://forum.aragon.org/t/voting-v1-single-delegation/440

I think we could start doing some UX research and UI work already @jounih @dizzypaty

cc @lkngtn @bingen @sohkai

[2019-01-09 09:32] jounih commented on #623
Cool! Let's sync on scheduling this design work on today's design call @dizzypaty

[2019-01-11 08:15] sohkai commented on #379
Now that aragon.js is going to be a monorepo for all JS-related libs and packaging, it probably makes most sense for these test-helpers to be moved there.

[2019-01-11 08:18] sohkai commented on #622
I think the idea of the AddressBadge is that you'd be able to [click on it to get the full address with a copy button](https://github.com/aragon/design/issues/3). This will be solved when the full AddressBadge is implemented (now unblocked with the first iteration of the Popover component).

[2019-01-11 08:20] sohkai commented on #621
Wish we had it at 420, but it's [close](https://github.com/aragon/aragon-apps/blob/master/apps/finance/app/src/App.js#L82). We should increase it to `500000`.

[2019-01-12 07:21] izqui opened #626 "Finance: print reference in 'newPayment' @notice string"

[2019-01-14 07:39] izqui commented on #130
Already implemented by DAppNode's @eduadiez: https://github.com/eduadiez/DAppNodeNFT

[2019-01-14 07:39] #130 closed

[2019-01-18 03:57] #626 closed

[2019-01-19 00:00] lkngtn opened #630 "Token Manager displays "Transferrable: Yes" when token is not transferrable."
When setting up a custom organization using the CLI I noticed that there appears to be a bug in how we display wether a token is transferrable in the token manager.

Steps to reproduce:

Create a minime token which is transferrable:

`dao token new  [name] [symbol]`

Install but do not initialize the token manager:

`dao install [dao] token-manager --app-init none`

Set the token manager as the co

[2019-01-21 07:46] sohkai commented on #621
Actually the gas estimation for the deposit itself isn't problematic; what's problematic is that we're not accounting for period transitions in that gas calculation (~80k gas per period transition due to four possible `SSTORE`s, might as well fudge to 100k per transition).

[2019-01-21 10:55] izqui commented on #621
Oh, good catch lol

[2019-01-21 21:35] ottodevs opened #631 "[TokenManager] Update or remove confusing package.json npm deploy scripts"
It seems that some deployments scripts are not used anymore, since they are using syntax from 10 months ago, those should be removed or updated since they may be confusing for newcomers getting inspired by official apps code:

https://github.com/aragon/aragon-apps/blob/fa6e64685b7801fb1b0a0f5819b145cb020087e8/apps/token-manager/package.json#L14

[2019-01-22 15:21] sohkai opened #633 "Voting: add badge to describe the voting instance"
Would be nice if the Voting app had a badge, similar to the Token Manager (see below), to give the user more information about that particular instance (e.g. token used, approval %, etc). Related to https://github.com/aragon/aragon/issues/89.

cc @aragon/design

[2019-01-22 22:16] john-light opened #634 "Give parameters a role that allows updating them"
From @lkngtn:

@sohkai replies:

I reply to to @sohkai:

https://github.com/aragon/AGPs/pull/15#issuecomment-456116452

[2019-01-23 15:58] bingen commented on #634
Adding the context of a related previous discussion here too:
https://github.com/aragon/aragon-apps/pull/98#pullrequestreview-97927732

[2019-01-25 13:18] sohkai opened #636 "Use blockExplorerUrl() from @aragon/ui"
Following https://github.com/aragon/aragon/issues/457, we should upgrade all the apps to use `blockExplorerUrl()` instead of `makeEtherscanUrl()`.

[2019-01-25 15:23] GustavMarwin opened #655 "Voting: display voting buttons for non-connected accounts"
**Describe the bug**
The Aragon Dapp is not detecting Metamask when the Private mode is enabled.

**Mainnet or testnet?**
Mainnet

**Organization**
governance.aragonproject.eth

**To Reproduce**
1. Enable Private mode on Metamask
2. Try voting.

**Expected behavior**
1. A Metamask window should pop-up asking whether I want Metamask to interact with the current page/Dapp.
2. Once approved, the Dapp

[2019-01-26 15:21] sohkai opened #637 "Add app's address to forwarding blacklist"
Should we include an app's own address to their forwarding blacklist? It would be really awkward, but if you set an app to have a permission over itself (note that this is possible in the current UI), any caller into the forwarding interface could interact with the granted functionality.

You could argue this is actually a feature (technically allows you to enhance the forwarding scope to access p

[2019-01-27 13:48] sohkai opened #638 "Voting: long voting countdown overflows the voting panel when on smaller screens"

[2019-01-28 09:34] #621 closed

[2019-01-28 12:50] #561 closed

[2019-01-28 13:11] akru opened #640 "Voting: token holder unable to vote"
In https://github.com/aragon/aragon-apps/blob/master/apps/voting/contracts/Voting.sol#L278 used block `number - 1`, in could block voting process when voter will added in the same block. Because it use `votingPower` at current block https://github.com/aragon/aragon-apps/blob/master/apps/voting/contracts/Voting.sol#L272.

**Reproducing scenario**

1. mint voter token for some voter account
1. in sa

[2019-02-04 14:27] sohkai opened #645 "Deploy Survey app to mainnet"

[2019-02-04 14:42] sohkai commented on #631
Closing for #563.

[2019-02-04 14:42] #631 closed

[2019-02-04 14:46] sohkai commented on #640
Using `blockNumber - 1` is a deliberate choice to avoid potential double votes when someone votes and then moves their tokens in the same block.

[2019-02-04 14:46] #640 closed

[2019-02-04 14:47] sohkai commented on #622
Closed by #642.

[2019-02-04 14:47] #622 closed

[2019-02-04 14:55] akru commented on #640
Ok, but don't change this isn't so good. May be use `blockNumber - 1` in https://github.com/aragon/aragon-apps/blob/master/apps/voting/contracts/Voting.sol#L272 will be better?

[2019-02-04 15:06] bpierre opened #646 "Voting: visually correct percentage bars for small percentage votes"
In some cases, like the AGP votes, the percentage of votes tends to be quite low, making the differences difficult to notice:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/36158/52216490-9dd99a80-2896-11e9-8b36-35e1da7e6e17.png">

What about having some rule in the voting app, to increase the scale of the progress bar based on the highest vote percentage?

For examp

[2019-02-07 08:34] izqui opened #649 "Payroll: ALLOWED_TOKENS_MANAGER_ROLE can lock the app with an OOG attack"
In both `determineAllocation` and `payday` the `allowedTokens` array is iterated in a for loop. Someone with the `ALLOWED_TOKENS_MANAGER_ROLE` can add a large enough number of tokens that could cause these functions to fail due to OOG.

Mitigation options:
1. Hardcode an arbitrary maximum number of allowed tokens.
2. Allow users of these functions to provide the token addresses relevant to them, s

[2019-02-07 08:38] izqui commented on #649
Also we are using a `uint32` as the index for the iteration, even though we don't have a limit for the length of the array. It is unlikely that there will ever be ~4B tokens, but if that happened there is no overflow protection.

https://github.com/aragon/aragon-apps/blob/master/future-apps/payroll/contracts/Payroll.sol#L316

[2019-02-07 11:12] sohkai opened #650 "Publish apps with ABIs"
Similar to how `@aragon/OS` does it.

[2019-02-08 10:13] litvintech opened #653 "Funding with EOS-style crowdsale application"
Hello, guys. We are [cybercongress](https://github.com/cybercongress/) and we are using Aragon: our id is [cyberfoundation.aragonid.eth](https://mainnet.aragon.org/#/cyberfoundation.aragonid.eth/0xf4d85b5a1650a335b30072d178f6dcb611f05a3e)
We need application wich allow as continiuosly collect funds and distribute CDB token. For example like EOS did it with their Ethereum based crowdsale.
May you,

[2019-02-08 10:58] sohkai commented on #630
@lkngtn Can you point me to a org that was set up this way? Fairly, fairly certain this shouldn't be messing up since we read from the token what its transferable status is.

Agreed this is kind of awkward. The Token Manager actually _overrides_ the transferable status of the token on initialization; it checks to see if the status matches what you gave it, and if it doesn't, changes it to be so. I

[2019-02-08 11:22] sohkai commented on #653
Hey @litvintech, providing a fundraising app is not something that's on our current roadmap at the moment, but you can very easily create your own ([see documentation](https://hack.aragon.org/))!

[2019-02-08 15:12] lkngtn commented on #630
https://mainnet.aragon.org/#/0x940B2B518F761f4c52CDd9865C57D9a907DC5E82/0xe195cb39cd32c8692bb5e549016288c3343850f0

[2019-02-08 15:18] sohkai opened #656 "Agent: add ability to guard against token transfers"
Given the security implications of the Agent app's `execute()` functionality, it would be nice if users had a way to ensure that their ETH and token holdings are consistent before and after the call (such that no transfers happened, or if they did, at least their app's balance wasn't changed).

This doesn't scale generally, but we could allow users to add token addresses onto a list that we check

[2019-02-08 17:31] izqui commented on #656
I thought about guarding against `approve` and `transfer` signatures but it really doesn't seem like a good idea to me.

[2019-02-10 12:20] #655 closed

[2019-02-11 10:12] izqui opened #658 "Fix CI coverage check for Agent"
Both Finance and the Agent app have been added to the allowed failures list in the `.travis.yml` file because they both time out.

Something that both apps share which could be completely unrelated to the root cause of the issue, is that they are the only packages that depend on the `@aragon/apps-vault` and they inherit from it.

[2019-02-11 11:15] sohkai commented on #525
Closing for #658.

[2019-02-11 11:15] #525 closed

[2019-02-11 11:15] sohkai commented on #658
Related to https://github.com/sc-forks/solidity-coverage/issues/283.

[2019-02-11 13:21] sohkai commented on #272
Closing for https://github.com/aragon/aragon/issues/590

[2019-02-11 13:21] #272 closed

[2019-02-11 13:21] sohkai commented on #579
Closing for https://github.com/aragon/aragon/issues/591

[2019-02-11 13:21] #579 closed

[2019-02-11 15:18] wslyvh opened #660 "More descriptive Empty card state for Token Manager"
Similar to #245, but for Token Manager.

![image](https://user-images.githubusercontent.com/25974464/52572608-79db0380-2e18-11e9-834d-008ad17c4d04.png)

Suggestion is to change text to
Title="There are no tokens assigned yet"
Text="Assign tokens to your organization to get started."

[2019-02-11 15:21] wslyvh opened #661 "More descriptive Empty card state for the Finance App"
Similar to #245 and #660 but for the Finance App.

![image](https://user-images.githubusercontent.com/25974464/52572761-db02d700-2e18-11e9-8f93-6389eb8f8eea.png)

Suggestion is to change text to
Title="There are no funds yet"
Text="Add funds to your organization to get started."

And changing the button text to match with the SidePanel 'New Transfer'.
Button="New Transfer"

[2019-02-12 09:14] sohkai commented on #562
Closed by #614

[2019-02-12 09:14] #562 closed

[2019-02-12 14:24] luisivan opened #665 "No margin between votes"
![image](https://user-images.githubusercontent.com/718208/52641848-11ecf180-2eda-11e9-82a9-c7d5f0ad231d.png)

Using latest Chromium on Linux.

[2019-02-12 16:21] sohkai commented on #665
:/ this looks like a rendering issue for `grid` on specific versions of chrome.

Chrome Version 72.0.3626.96 (Official Build) (64-bit) on macOS does not have this issue.

cc @bpierre @AquiGorka I don't think there's a grid property that tells it to shrink, but that's what it looked like it was doing before on a slightly outdated version (1 week old).

[2019-02-12 22:05] lkngtn commented on #656
The token list check approach seems reasonable, I suspect that even a limited list of tokens would be sufficient for most cases.

This would not be sufficient to prevent all token transfers or to prevent asset transfers for things like NFTs, but in cases where we know there are specific assets we care about not being transferred then this should provide relatively strong protections. I think this

[2019-02-12 22:51] lkngtn commented on #637
Isn't this the intended behavior? For example, it is totally reasonable to require a vote to update voting parameters or for the voting app to be its own permission manager.

Agree that in the specific case of the token manager as a forwarder it would probably not be prudent in most cases because the token manager as a forward doesn't apply significant constraints on forwarding. However even in th

[2019-02-12 22:57] lkngtn commented on #594
This conversation has come a bit and it seems like it would be necessary to define a "whitelist" of actions.

This present a couple of questions I think are worth exploring:

1. If a function is added to the whitelist (do we have any ability to evaluate the parameters which are passed to the function?)
2. If we are managing a whitelist of functions what is the flow in the organization for protecti

[2019-02-13 07:55] AquiGorka commented on #665
Will look into this. @jounih had encountered the behavior before but we dismissed it as it was not part of the `responsive` updates and I was not able to reproduce.
Thanks for letting me know.

[2019-02-13 09:14] osarrouy commented on #656
That’s sound like a great idea for the collateral pool, indeed!

I guess it would make sense to check the before /after equality of `allowance` too, right ?

[2019-02-13 11:48] #602 closed

[2019-02-13 14:34] sohkai commented on #600
Going to close this for now, without implementing it.

As it is, it's too hard to upgrade an existing Finance proxy to one that would not store the transactions. Not only would we have to keep track of two event signatures that roughly mean the same thing, we'd also have to keep the old functionality around (but not use it anymore) so that frontends could show all the necessary information from ol

[2019-02-13 14:34] #600 closed

[2019-02-13 17:17] sohkai commented on #656
Ah yes, checking `allowance` would be good too :+1:.

[2019-02-13 17:26] sohkai commented on #637
I'm not sure it was the intended behaviour; at least I hadn't though very hard on it until recently.

I think it makes a lot of sense in "interactive" forwarders like the Voting app, but is more difficult to justify on "non-interactive, instantaneous" forwarders like the Token Manage or Payroll. Perhaps as we get more metadata in the future about the type of forwarding an app allows, we can show w

[2019-02-13 18:29] #649 closed

[2019-02-14 12:25] luisivan opened #674 "Use entity component and identify when an app creates a vote"
Right now I'm seeing this when I use the Token Manager to create a vote. Will this be automatically fixed when the entity component recognizes apps? If that's the case, feel free to close this off

![image](https://user-images.githubusercontent.com/718208/52786714-e560e300-305b-11e9-8688-64b617e76113.png)

[2019-02-14 19:00] sohkai commented on #674
Duplicate of #510.

[2019-02-14 19:00] #674 closed

[2019-02-15 13:24] dizzypaty commented on #633
I think this is a great suggestion – I'm hoping to review soon the way we display purple badges throughout the app and define their usage. We could also add an informative section, similar to the Token Manager, where we display that particular app instance information.

[2019-02-16 20:46] sohkai commented on #354
Fixed in #677

[2019-02-16 20:46] #354 closed

[2019-02-16 20:46] sohkai commented on #387
Fixed in #677.

[2019-02-16 20:46] #387 closed

[2019-02-16 20:46] sohkai commented on #564
Fixed incrementally over time :).

[2019-02-16 20:46] #564 closed

[2019-02-20 00:37] #660 closed

[2019-02-20 00:37] #245 closed

[2019-02-20 00:38] #661 closed

[2019-02-20 13:01] sohkai opened #685 "Test: add ACL tests for each app"
From https://github.com/aragon/aragon-apps/pull/611#issuecomment-465090647:

[2019-02-22 15:55] sohkai opened #689 "Add specs from wiki"
Move, update, and rewrite the technical documentation from https://wiki.aragon.org/dev/apps/ to be READMEs in each app.

Moreover:
  - We should move the technical specs for the Agent app from the forum to its own README.
  - We should write specs for the Payroll app

[2019-02-25 22:55] #569 closed

[2019-02-26 09:49] sohkai commented on #636
Fixed by #639.

[2019-02-26 09:49] #636 closed

[2019-02-27 08:08] rectinajh opened #694 "npm install,when ipfs download failed"
npm install

Downloading https://dist.ipfs.io/go-ipfs/v0.4.17/go-ipfs_v0.4.17_darwin-amd64.tar.gz
Error: connect ETIMEDOUT 69.171.240.27:443

Download failed!

[2019-02-27 10:46] sohkai commented on #694
Closing for https://github.com/aragon/aragon-cli/issues/381

[2019-02-27 10:46] #694 closed

[2019-03-04 22:50] sohkai commented on #370
Also include git branching convention: https://forum.aragon.org/t/documenting-the-git-branch-convention-on-smart-contract-repos/599

[2019-03-07 17:49] sohkai commented on #89
Closing as we'll be sticking with the solidity convention of 4 spaces.

[2019-03-07 17:49] #89 closed

[2019-03-12 11:50] sohkai opened #713 "Voting: show settings"
The Voting app has various settings, some of which are changable.

We should show at least the:

- Token the Voting app uses
- Configured support % (can be changed)
- Configured quorum % (can be changed)
- Voting time (cannot be changed)

[2019-03-12 12:01] jounih commented on #713
Can the support and quorum be changed per vote?

[2019-03-12 12:23] luisivan commented on #713
No, it's an app-wide setting. The idea is that you can deploy a new app with new parameters each time, although I'm not sure if that's what users would prefer vs. per-vote settings

[2019-03-12 13:52] sohkai opened #714 "Voting: show execution target for binding votes"
On votes that include an execution script, we should try to parse it to figure out what the execution target address is and display it to the user.

Finding the function name and decoding parameters will be problematic in the generic case as it's unlikely we'll get the ABI, but we could figure it out for installed apps if we realize the target address is to one of them.

[2019-03-13 01:27] sohkai commented on #713
The main awkwardness around per-vote settings is that someone could create votes with ridiculously low settings, encode a finance transfer, and basically 51% attack the org but with only a single token.

Technically you could protect this with ACL params, but it's going to be impossible to recommend this course of action without a proper frontend for those permissions.

[2019-03-19 18:22] sohkai opened #720 "Agent: enhancements"
From internal reviews and security audits:

- [Fix signature malleability](https://github.com/aragon/aragon-apps/pull/611#discussion_r266572130)
- [Coverage tests fail](https://github.com/aragon/aragon-apps/pull/611#discussion_r258943600)
- `isValidSignature()` changes: [1](https://github.com/aragon/aragon-apps/pull/611#discussion_r259084569), [2](https://github.com/aragon/aragon-apps/pull/611#dis

[2019-03-20 19:24] 0xGabi opened #724 "Unexpected "With `useBuiltins` option, required direct setting of `corejs`""
I'm having this issue when I'm trying to run `npm run build` on the finance app.

Seems to be a general bug. Discussions:

- https://github.com/parcel-bundler/parcel/issues/2819

- https://github.com/parcel-bundler/parcel/issues/2820

- https://stackoverflow.com/questions/55251983/what-does-this-error-mean-with-usebuiltins-option-required-direct-setting-of

I tried the quick fixes discussed in the

[2019-03-20 19:53] 0xGabi commented on #724
Temporary fix in: https://github.com/parcel-bundler/parcel/commit/53c09b3cfa3a14bc0dc9875950b31e43d4a9a2e4

[2019-03-21 13:26] bpierre commented on #509
@aragon/design

In the Token Manager app, we are using the terms “Assign” / “Remove” in several places:

<img width="1056" alt="screen-1" src="https://user-images.githubusercontent.com/36158/54753545-94f01e80-4be1-11e9-891d-faa55ebb8373.png">

<img width="1055" alt="screen-2" src="https://user-images.githubusercontent.com/36158/54753546-94f01e80-4be1-11e9-9af6-af26c8d18bf3.png">

<img width="1056"

[2019-03-22 12:25] sohkai commented on #658
FWIW it now looks like these are squeaking in at ~45min on Travis, but we should solve the underlying problem anyway.

[2019-03-22 12:26] sohkai commented on #509
Completely agree, we should include more details as part of the `artifact.json`'s schema so we can give more information back to the user: https://github.com/aragon/aragon/issues/486.

[2019-03-22 16:17] luisivan commented on #582
We could also add an informative message saying that if you wanna do any binding action such as withdrawing funds or minting tokens, those don't belong in a poll

[2019-03-24 21:37] sohkai opened #732 "Voting: don't show "execute" steps if no execution script is included in the vote"
We could avoid showing the notion of "execution" in the frontend if no execution script is included, to avoid users being confused that a non-binding "yes/no" vote "requires execution"

cc @aragon/design

[2019-03-25 16:29] 0xGabi commented on #724
Fixed in Babel 7.4.2

[2019-03-25 16:29] #724 closed

[2019-03-26 13:10] AquiGorka opened #740 "Remove observable from apps"
Remove observable from Provider and implement a hook based approach to update renders:

- [ ] Token Manager
- [x] Finance
- [x] Voting

[Reference](https://github.com/aragon/aragon-apps/pull/700#discussion_r268720927)

[2019-03-26 15:37] facuspagnuolo opened #742 "Payroll: Support removing allowed tokens"
Removing allowed tokens isn't that trivial. Based on how data is stored currently, employees should modify their allocation as well, which can be done by notifying them and reseting their last allocation date.

[2019-03-27 13:43] 2color commented on #740
Resolved by #743 #745 #746 which have been merged into PRs: #722, #700, #728

[2019-03-27 15:12] #740 closed

[2019-03-27 22:13] sohkai opened #748 "Token Manager: use mint() when assigning tokens to Token Manager itself"
`mint()` is used to mint tokens to the Token Manager itself, and `issue()` is used for all other addresses.

[2019-03-29 18:21] dizzypaty commented on #732
Yes, totally agree. Let's remove the 'Execute vote' button. Also, I think we should change the status to 'Passed' or 'Rejected' rather than 'Executed'.

[2019-03-31 13:05] 0x6431346e opened #755 "Convert ganache-cli.sh to node"
File: https://github.com/aragon/aragon-apps/blob/master/shared/test-helpers/ganache-cli.sh

It's being used by the boilerplate now: https://github.com/aragon/aragon-react-boilerplate/pull/46

It "kind of" works on Windows:
[code]

[2019-04-01 09:31] 2color opened #756 "Finance: Use BN for amounts when exporting to CSV"
## Problems
- We use [JS numbers](https://github.com/aragon/aragon-apps/blob/master/apps/finance/app/src/components/Transfers.js#L110) when exporting the CSV

## Assumptions
- JS numbers have precision issues
- Generally we use BN.js whenever precision is important
- It's reasonable to assume we want high precision in the exported CSV

## Suggestion solution
Use BN.js to generate sums with no prec

[2019-04-02 09:08] sohkai commented on #756
Normal JS numbers. Agreed on the tests; a lot of these math utils we should move into a shared lib in aragon-apps and add some tests 😄.

I believe we either still have, or used to have, some BN utilities for conversions into strings with rounding. Would have to look around in some of the apps' utils to see (but in any case, see below).

I might've modified all of the previous BN calculations to us

[2019-04-02 14:11] sohkai commented on #537
Another way to fix this is to remove the forwarding functionality from the Token Manager itself, and use a "Token balance" trigger instead as the forwarder.

[2019-04-04 08:21] sohkai opened #757 "Voting: show number of addresses voting yes / no"
See https://forum.aragon.org/t/display-metric-for-number-of-individual-votes/665.

[2019-04-04 10:27] sohkai commented on #362
Closed by #747 and #758.

[2019-04-04 10:27] #362 closed

[2019-04-04 15:31] facuspagnuolo opened #759 "Payroll: Add reentrancy guard to transfers loop"
From @sohkai (see [here](https://github.com/aragon/aragon-apps/pull/744#discussion_r271393365))

Right now, with ETH, you can re-enter into `Payroll.determineAllocation()` and modify your allocation so that a later token becomes 100% of your allocation. The worse case of this is if you set ETH to 100%, and then upon paying ETH, your contract re-enters into `Payroll.determineAllocation()` and sets

[2019-04-04 15:31] facuspagnuolo opened #760 "Payroll: Support adding and cashing out bonuses"
Add another storage slot to keep track of bonuses separately, and make sure we use a different reference string. We could potentially use something like an enum argument to differentiate between the type of payment we'd like to do so the interface is streamlined into a single `payday()` and `partialPayday()` function.

[2019-04-04 15:32] facuspagnuolo opened #761 "Payroll: Avoid mixing accrued salary with accrued value"
Currently, when the salary of an employee is updated, all the accrued salary until that moment is added to the accrued value. We should introduce a new `accruedSalary` concept instead.

See [here](https://github.com/aragon/aragon-apps/pull/744/files?file-filters%5B%5D=.sol&hide-deleted-files=true#r271384049) for more context.

[2019-04-04 15:59] stellarmagnet opened #762 "Token Manager - Sidebar rounding logic may result in confusion"
Just noticed this: https://mainnet.aragon.org/#/ethereumcatherders.aragonid.eth/0xcd3087d940524074541216189176c6aa03d66d2b

![image](https://user-images.githubusercontent.com/2584493/55569184-66099a80-5701-11e9-8723-b6bf14f3251d.png)

I was reading through the utils.js

I assume this may result in the following scenarios being inaccurately represented in the sidebar:

3 member organizations
6 memb

[2019-04-04 17:17] facuspagnuolo opened #763 "Payroll: Ensure last payroll date accurate calculation"
From @sohkai

Right now, you could request a tiny amount of salary that results in `timeDiff == 0`, basically getting free money out of the contract as many times as you could reasonable call it within gas limits.
We should also add a warning that you may lose up to a second's worth of payroll if you use the "request partial amount" feature.

See [here](https://github.com/aragon/aragon-apps/pull/7

[2019-04-05 11:04] bpierre opened #768 "Finance:  “show more” behavior on iOS"
From https://github.com/aragonone/product/issues/4

[2019-04-05 11:13] bpierre opened #769 "Voting: not rendering full cards while getting the data"
From https://github.com/aragonone/product/issues/4:

To confirm.

[2019-04-09 20:09] stellarmagnet opened #783 "Finance: alignment issue for Reference column"
![image](https://user-images.githubusercontent.com/2584493/55831768-30efb480-5b14-11e9-87be-d6d06ac8c606.png)

[2019-04-09 20:11] stellarmagnet commented on #783
Nevermind, i may be on old version locally, don't see it on Mainnet

[2019-04-09 20:11] #783 closed

[2019-04-14 09:33] sohkai commented on #665
@luisivan I believe this is now fixed in newer versions of Chrome.

[2019-04-14 09:33] #665 closed

[2019-04-14 09:35] sohkai commented on #581
Assuming this was a one-off issue; it was likely a broken connection, our ETH node being slow, or the user not selecting the correct account or network on their Ethereum provider.

[2019-04-14 09:35] #581 closed

[2019-04-15 09:21] izqui opened #792 "Payroll: denomination token should be passed as the 'quote' to PPF"
The denomination token should always be the `quote` and the `base` should be the token that we are asking the price for (see [`PPF.get`](https://github.com/aragon/ppf/blob/master/packages/ppf-contracts/contracts/PPF.sol#L95)).

This is currently swapped in the Payroll contract so the rates will be inverted.

[2019-04-15 10:50] sohkai commented on #792
This is probably something our tests should have caught early on 😅

[2019-04-15 13:23] facuspagnuolo commented on #792
Yep, unfortunately, rates are were mocked for a long time

[2019-04-15 19:34] sohkai commented on #630
@lkngtn Looked into this; the app isn't lying; the token is transferable. In the screenshot above, the gas limit was too low for the call to succeed (minime transfers cost usually ~120k).

Both of the tokens are transferable; the CLI must not have used the params correctly :(

[2019-04-16 00:14] #761 closed

[2019-04-16 00:39] #763 closed

[2019-04-16 07:17] #563 closed

[2019-04-16 07:18] sohkai commented on #650
Fixed with #785.

[2019-04-16 07:18] #650 closed

[2019-04-17 00:11] #792 closed

[2019-04-17 09:40] askeluv commented on #507
Sorry for jumping in here, but what's the recommended way to burn tokens currently? Is it even possible? @izqui @john-light

[2019-04-17 10:18] john-light commented on #507
@askeluv see "remove token" in the User Guide here: https://wiki.aragon.org/tutorials/Aragon_User_Guide/#321-holders

[2019-04-17 10:23] askeluv commented on #507
@john-light thanks, but there’s no section on «remove tokens» though?

[2019-04-17 14:16] #582 closed

[2019-04-17 14:21] #759 closed

[2019-04-17 14:40] dizzypaty opened #809 "Finance: Date range filter selection shouldn't be applied by default"
As a user, I want to be able to select a date range to export my Finance app transfers.

* Date range should be deselected by default displaying the following hint text: ‘Start date’ and ‘End date’, until user makes a date selection.
* We should indicate today’s date and open the calendar on the current month
* We should include an Apply and Clear buttons, that removes the current date range selec

[2019-04-17 22:38] sohkai commented on #760
Closed by #775

[2019-04-17 22:38] #760 closed

[2019-04-18 02:55] john-light commented on #507
@askeluv depending on how your organization is set up you may need to initialize the permission. Go to Permissions > Token Manager > Actions available on this app > Initialize "Burn Tokens" action. Then set a manager and who you want to grant permission to (setting the Voting app for both is a safe call, at least for testing purposes; I recommend trying this on Rinkeby before mainnet).

Also this

[2019-04-18 06:01] sohkai opened #814 "Finance: improve "almost" empty states"
Two "almost" empty states are possible for the Finance app:

1. User has prior transactions, but no balance left because everything has been transferred out:

<img width="1213" alt="Screen Shot 2019-04-18 at 7 57 05 AM" src="https://user-images.githubusercontent.com/4166642/56339754-c7c10e80-61af-11e9-8221-72c85ac73e72.png">

2. User has transferred ETH directly to the Vault, without making any pr

[2019-04-18 06:14] sohkai opened #816 "tests: add revert error strings to assertion checks"
`assertRevert()` now allows us to check expected revert strings, greatly improving our confidence in revert tests.

Payroll and Finance have already started using them, and it would be great to include in the other apps (Agent, Token Manager, Vault, and Voting).

[2019-04-26 15:24] sohkai commented on #620
Closed by #730.

[2019-04-26 15:24] #620 closed

[2019-04-26 15:25] sohkai commented on #322
The ideas behind this have become the "Proposals Agreement" application, to be used in tandem with the Court. More details to follow soon :).

[2019-04-26 15:25] #322 closed

[2019-04-26 15:26] sohkai commented on #8
This doesn't seem to be getting fixed soon, and it's unclear if we can hoist any packages since we publish each of the apps to npm.

[2019-04-26 15:26] #8 closed

[2019-04-29 12:21] sohkai opened #831 "Payroll: improve radspec descriptions"
- Convert salary / second to salary / year
- Fiat tokens
  - Assume tokens have 18 decimals if they're not found
  - Reverse [PPF addressing scheme](https://github.com/aragon/ppf/#tickers-and-token-addresses) to get symbol

[2019-04-29 12:39] izqui commented on #831
Thinking about whether we should handle leap years or just assume that the yearly salary is `salaryPerSecond * 3600 * 24 * 365`.

This can only be done in radspec helpers, how do you feel about handling these special cases there directly?

[2019-04-29 14:25] sohkai commented on #831
We might just want to do both as a helper, since we'll need to have a fallback for the salary's token decimals.

[2019-04-30 09:36] dizzypaty commented on #809
## Large form factor

<img width="1366" alt="WebApp-1366px - Finance main view" src="https://user-images.githubusercontent.com/7205369/56952372-824efa80-6b3a-11e9-9927-1fa64507a95a.png">

<img width="1366" alt="WebApp-1366px - Finance main view-2" src="https://user-images.githubusercontent.com/7205369/56952402-94c93400-6b3a-11e9-9498-71258dad788a.png">

<img width="1366" alt="WebApp-1366px - Finan

[2019-05-06 10:36] AquiGorka commented on #809
@dizzypaty for mobile/reponsive do we show two sets of `clear`/`apply` buttons?

[2019-05-06 16:03] dizzypaty commented on #809
@AquiGorka

No, only one

Just one calendar, full screen

When users tap on the (start/end) date range component, the calendar opens up in a modal, in the current month and displaying today's date. Then, users can select the date range starting by the start date or the end date, as they wish, as it should behave in the same way.

In the example below, the user selects the 9th of March as the start

[2019-05-08 15:40] bingen opened #838 "Voting: different percentage calculations"
The percentage of positive votes was different in the card view and the side panel's quorum (27% vs 26.09%):

Card:

<img src="https://user-images.githubusercontent.com/701095/57388470-87561e80-71b8-11e9-8192-7188e1e9a965.png" height=300>

Panel:

<img src="https://user-images.githubusercontent.com/701095/57388475-8cb36900-71b8-11e9-9842-90758aef54fa.png" height=500>

[2019-05-10 11:51] bpierre opened #839 "Rename “Token Manager” as “Tokens”?"
The term “Tokens” might still be confusing for users which is something we might want to solve in the future, but I don’t think this change would make it worse in this regard.

I think it makes the menu look cleaner:

<p align=center><img src=https://user-images.githubusercontent.com/36158/57525261-82b17780-732a-11e9-92d3-be8a7fa57c28.png><br>Before

<p align=center><img src=https://user-images.gi

[2019-05-10 14:25] sepu85 opened #840 "npm install not working properly after cloning this repo"
I've been trying to use this [script](https://github.com/aragon/aragon-apps/blob/master/apps/voting/scripts/vote-stats.js)

after cloning this repo locally and running `npm i` I got the following error:

[code]

[2019-05-10 14:32] sepu85 commented on #840
[2019-05-10T14_14_21_678Z-debug.log](https://github.com/aragon/aragon-apps/files/3166907/2019-05-10T14_14_21_678Z-debug.log)
[2019-05-10T14_14_24_818Z-debug.log](https://github.com/aragon/aragon-apps/files/3166908/2019-05-10T14_14_24_818Z-debug.log)

[2019-05-10 14:48] sohkai opened #841 "Voting: display execution time of a vote"
For "enacted" votes, it would be great to show information about when it was enacted (perhaps even showing the transaction hash).

This is useful for tracking when things _actually_ got done through the Voting app (executed can be much much later after an voting ends).

[2019-05-10 15:10] luisivan commented on #839
I agree, I think it'd make it cleaner and also conform with our naming scheme (e.g. we don't call Finance the Finances Manager or Voting the Votes Manager). Also the fact that it is the manager/controller of a token is a technicality and shouldn't necessarily be exposed to the user.

I'd like to have @dizzypaty's thoughts on this before executing a rename.

[2019-05-10 17:43] dizzypaty commented on #839
I think it's a good idea. We should also rename 'App Center' to 'Apps' for consistency.

[2019-05-13 09:53] luisivan commented on #839
I think that makes sense as well. But then I'd re-think the label in the top (*Apps*) since a label and an app would be called the same way @dizzypaty

[2019-05-14 12:18] svetlanama opened #848 "Finance instance installing issue"
Hi,

I get this error when I'm trying to install Finance for the token-manager
I'm following this guide [https://forum.aragon.org/t/guide-custom-aragon-organization-deployment-using-the-cli/507](https://forum.aragon.org/t/guide-custom-aragon-organization-deployment-using-the-cli/507)
[code]

Could you help, please?

[2019-05-14 15:30] luisivan commented on #848
This seems related to https://github.com/aragon/aragon-cli, posted a question on the Aragon chat to see if someone can provide help here

[2019-05-14 22:09] svetlanama commented on #848
@luisivan Thanks, will follow!

[2019-05-15 08:36] sohkai commented on #848
@svetlanama This is a problem with fetching the artifacts (https://github.com/aragon/aragon-cli/issues/377), the guys are working on it :).

[2019-05-15 08:36] #848 closed

[2019-05-15 09:09] svetlanama commented on #848
@sohkai  oh, thank you, will wait!

[2019-05-15 09:52] 0x6431346e commented on #848
Hey @svetlanama , in the meantime you can try:

- running `aragon ipfs` in a separate terminal

or

- adding the `--apm.ipfs.rpc` flag to the command, e.g.:
[code]

[2019-05-15 10:19] svetlanama commented on #848
@danielcaballero  2nd variant helped me, thank you so much!

[2019-05-16 09:58] sohkai commented on #283
Not relevant anymore.

[2019-05-16 09:58] #283 closed

[2019-05-16 09:58] sohkai commented on #285
Not relevant anymore.

[2019-05-16 09:58] #285 closed

[2019-05-16 09:59] sohkai commented on #284
Not relevant anymore.

[2019-05-16 09:59] #284 closed

[2019-05-17 11:20] AlexanderMazaletskiy opened #859 "Token Manager problem"
Hi, All!
I try
npx create-aragon-app app
npx aragon run --template Template --template-init @ARAGON_ENS

But Token Manager and all actions with token are not working.

When i try to mint tokens
Cannot read property 'length' of undefined
in ActionPathsContent (created by ConfirmTransaction)
in ConfirmTransaction (created by Spring)
in div (created by Context.Consumer)
in StyledComponent (created by

[2019-05-17 13:10] sohkai commented on #859
cc @0xGabi wondering if this is due to the Token Manager being outdated in aragen?

[2019-05-17 14:16] 0xGabi commented on #859
I been trying to reproduce this error since yesterday but it's working fine in my pc. I removed my local `snapshot` and `~/.ipfs`. Will keep looking it

[2019-05-17 14:54] sohkai commented on #859
@AlexanderMazaletskiy Could you give us which version of aragonCLI you have installed, and perhaps put up the repo you're working off of on Github for analysis?

[2019-05-17 16:24] dizzypaty commented on #839
Yeah, that's a good point. IMO I don't think this will be an issue, but perhaps we could use 'Installed apps' for the section header. Will review with all the other copy.

[2019-05-17 19:26] #638 closed

[2019-05-18 10:09] sohkai commented on #645
This has been done as part of 0.7.0, but needs further work: https://github.com/aragon/aragon/issues/735

[2019-05-18 10:09] #645 closed

[2019-05-18 10:19] sohkai commented on #273
Fixed with https://github.com/aragon/aragon-apps/pull/857.

[2019-05-18 10:19] #273 closed

[2019-05-18 10:21] sohkai commented on #840
@sepu85 Are you still having this issue? It's a bit odd, since it doesn't seem to be a problem for most people :(

[2019-05-18 10:29] sohkai commented on #653
@litvintech Aragon Black is working on a [new fundraising app](https://github.com/aragonblack/fundraising), you may want to check in with them!

[2019-05-18 10:29] #653 closed

[2019-05-18 10:35] sohkai commented on #732
Closed with #808.

[2019-05-18 10:35] #732 closed

[2019-05-18 11:26] sepu85 commented on #840
Oh!!! Nope! I forgot I left it open... Sorry.
Closing it.

[2019-05-18 11:26] #840 closed

[2019-05-18 15:14] #859 closed

[2019-05-21 12:04] luisivan commented on #839
Closing this in favor of https://github.com/aragonone/product/issues/109

[2019-05-21 12:04] #839 closed

[2019-05-22 06:14] marc4gov commented on #239
Seems I have a CORS issue, reaching out to IPFS when following the tutorial (Bella 0.7). The Counter App doesn't show in the left pane, but it is listed as 'Unknown' when I follow the `Permissions` link
<img width="1435" alt="Schermafbeelding 2019-05-22 om 08 11 27" src="https://user-images.githubusercontent.com/9572139/58151232-53273700-7c69-11e9-99c8-3fe90d947094.png">
<img width="1428" alt="Sch

[2019-05-22 07:24] onbjerg commented on #239
@marc4gov Seems like it's a bug in [Aragon CLI](https://github.com/aragon/aragon-cli). I think you'll find better answers there

[2019-05-23 12:06] sohkai commented on #658
https://github.com/aragon/aragon-apps/pull/863 Now fixes this for the Finance app, but the Agent app still fails due to some tests not working in coverage.

[2019-05-27 12:39] luisivan commented on #589
Closed since this will happen via signing providers

[2019-05-27 12:39] #589 closed

[2019-05-28 22:38] chunxi commented on #840
I was getting the same thing.
Try `yarn install`! It worked for me!

[2019-05-29 01:07] sohkai commented on #840
Oh boy haha, `yarn` used to have its own set of problems with `web3.js` and we ended up moving away from it because of this :(. Maybe this is fixed now?

[2019-05-29 16:59] sohkai opened #879 "Finance: syncing indicator conflicts with "more" transactions button"
Grey bit behind is the "show more" button.

<img width="259" alt="Screen Shot 2019-05-29 at 6 30 50 PM" src="https://user-images.githubusercontent.com/4166642/58576130-d9341680-8243-11e9-9076-bc24c117742e.png">

[2019-06-04 13:27] svetlanama opened #882 "dao acl create: Cannot read property 'description' of undefined"
Hi,

I'm following this [instruction](https://forum.aragon.org/t/guide-custom-aragon-organization-deployment-using-the-cli/507)
and noticed that commands related to assigning grants
like ```dao acl create ....```
give me an error ```Cannot read property 'description' of undefined```

The error behavior is unpredictable (sometimes it requires a delay before calling it, sometimes it does not help)
T

[2019-06-04 13:32] luisivan commented on #882
Hey there! This seems like an aragonCLI error. Can you re-create the issue at https://github.com/aragon/aragon-cli/issues/new?labels=bug&template=bug.md? Thanks!

[2019-06-04 13:37] svetlanama commented on #882
Done,
https://github.com/aragon/aragon-cli/issues/497

Thanks!

[2019-06-04 13:41] #882 closed

[2019-06-17 17:36] sohkai opened #888 "Finance: deposits doesn't detect token amounts correctly"
On an account with both ETH and tokens, the tokens selector doesn't detect the account's balances correctly.

It seems like it might be an off by one error on the index; selecting the token after ETH displays the correct ETH balance 🤷‍♂.

--------

ETH balance:
<img width="349" alt="Screen Shot 2019-06-17 at 7 29 06 PM" src="https://user-images.githubusercontent.com/4166642/59624410-f9663f80-9136-

[2019-06-24 11:09] lkngtn commented on #630
Reopening this due to a comment from [Adamstallard on the forum](https://forum.aragon.org/t/guide-custom-aragon-organization-deployment-using-the-cli/507/14):

I'm not sure how this would be an issue with the CLI since as far as I can tell it would need to be an issue with the `dao exec` command, it is not doing any special handling of these parameters for token transfers specifically, so if its a

[2019-06-25 04:02] 0xGabi commented on #630
@lkngtn was able to figure out what's going on. Is about the optional argument [`transfer-enable`](https://github.com/aragon/aragon-cli/blob/master/packages/aragon-cli/src/commands/dao_cmds/token_cmds/new.js#L22). We miss the `boolean: true` configuration so false was recognized as a string and coerce as true. I will submit a PR to fix this, thanks for reporting it

[2019-06-25 13:21] AquiGorka commented on #888
@sohkai I tried with different wallets and networks (mainnet and rinkeby) with wallets holding different assets and even when setting a custom token and the balance rendered was correct.
If you could help me reproduce I can further investigate.
Posting a video of a wallet with a mainnet org and correct balances:

https://www.loom.com/share/95c82a9cabc5412593642055c29b64ab

[2019-06-26 01:48] 0xGabi commented on #630
I found that `dao exec` keep parsing the `false` argument as `true` on the initialize function of the Token Manager app. I'm still testing and looking for the possible reason behind it, it seems related with `yargs-parser`

[2019-06-26 10:48] sohkai commented on #630
@0xGabi Closing this issue since it's not related to the apps but is an CLI issue.

@0xGabi has also opened a draft PR to fix this in the CLI: https://github.com/aragon/aragon-cli/pull/555.

[2019-06-26 10:48] #630 closed

[2019-06-26 11:43] luisivan commented on #888
It worked for me too a couple days ago

[2019-06-28 11:59] sohkai opened #892 "Finance: immediately check for DAI and ANT balance on mainnet"
While the balances of these tokens will eventually appear for orgs that hold them, it's a nice UX improvement to immediately check for them as soon as the app loads (and before it's finished syncing).

[2019-06-28 12:05] sohkai commented on #888
As it turns out, this was due to my account not being enabled.

However, now I'm wondering what account we were using to fetch those balances from... :shrug:.

[2019-06-28 12:05] #888 closed

[2019-06-28 14:56] luisivan opened #893 "Finance CSV export breaks thousands separator"
![image](https://user-images.githubusercontent.com/718208/60351253-ab1e2f80-99c5-11e9-964a-b4971e446fe5.png)

[2019-07-02 09:39] AquiGorka commented on #893
@luisivan will look into this

[2019-07-03 10:55] sohkai commented on #893
Fixed with #894.

[2019-07-03 10:55] #893 closed

[2019-07-12 01:22] lkngtn opened #919 "Token Manager: owner initiated token burn"
There are cases where it would be handy to be able to allow users to burn their own tokens without requiring a vote. Currently the Token Managers `burn()` function allows burning any and all tokens, so it is not practical to grant this to all token holders.

In order to allow any token holder to burn **only** their own tokens we would need to add new functionality. I think this could be accomplish

[2019-07-12 16:58] sohkai commented on #919
I'm wondering what circumstances a user would want to do this?

As you said, it is certainly easy functionality to add to the Token Manager, but hard to imagine someone invoking this without something else happening in tandem (e.g. a ragequit), which would require at least a forwarder.

[2019-07-13 06:26] cgewecke commented on #840
Ran into this today using both npm and yarn on:
[code]

The following worked for me
[code]

[2019-07-13 09:27] #816 closed

[2019-07-15 10:22] luisivan commented on #919
Cannot you just send your tokens to `0x000...`? It wouldn't change the token supply count, but it'd be the same from a user perspective

[2019-07-15 21:19] lkngtn commented on #919
One situation which came up was within the Coop, Tokens were used as membership in the org there was no way for a member to relinquish their membership token. In order to burn a token we would have had to create a vote and have other member approve the vote, which purely from a practicality perspective is quite inefficient and doesn't make a lot of logical sense. If a user is trying to relinquish

[2019-07-18 15:08] #370 closed

[2019-07-18 18:17] sohkai opened #930 "Optimize background script loading"
For the most part, existing apps' scripts act in a "dumb" fashion when they receive events. They usually just refetch some data (depending on the event type) through an `eth_call` from the chain.

This results in a lot of redundant fetching during the app's syncing phase, when we know that whatever `eth_call` we made is already from a chain state that is ahead of the "commited" (and cached) sync b

[2019-07-30 16:52] haythem96 commented on #685
is this still relevant ? I can work on it...

[2019-07-30 23:01] sohkai commented on #685
@haythem96 Yes, this is still relevant! We have improved the testing on Voting and Payroll to have slightly better permission tests, but most, if not all, of the apps can use more tests for this :).

There are additionally some more _interesting_ tests for each role’s parameterization, but I wouldn’t work on testing this aspect of the ACL just yet since it’s really cumbersome to do without a frame

[2019-08-01 13:37] haythem96 commented on #685
@sohkai let's say for the case of the survey app, should I in some tests restrict permission to a specific address and test pos/negative check to verify only that specific address is permitted ? as in that app it grant permission to `ANY_ENTITY`

[2019-08-01 14:59] sohkai commented on #685
@haythem96 Yes, that would be the correct idea.

[2019-08-06 18:37] sohkai commented on #841
Related to https://github.com/aragon/aragon/issues/697.

[2019-08-06 18:44] sohkai commented on #633
Superseded by #713.

[2019-08-06 18:44] #633 closed

[2019-08-06 18:45] sohkai commented on #623
Contract completed in #881.

[2019-08-09 05:21] 0xGabi opened #944 "Include wsRPC value on arapp.json for apps"
Currently if someone use the core apps `arapp.json` the aragonCLI will fail to fetch the ABIs.

As stated in https://github.com/aragon/aragon-cli/pull/270 this value is use by aragon.js as data provider.

[2019-08-09 08:09] sohkai commented on #944
Don't we default the `wsRPC` now if it's not set?

[2019-08-09 20:13] 0xGabi commented on #944
I'm afraid we are not, if there is an `arapp.json` without `wsRPC` we are not starting the provider, as you can se [here](https://github.com/aragon/aragon-cli/blob/master/packages/aragon-cli/src/middleware/environment.js#L140)

@0x6431346e , @sohkai should default if not set?

[2019-08-10 10:13] sohkai commented on #944
What does it use if no `wsRPC` is declared? Or does it not get subscriptions at all?

In any case, I just realized, I originally thought this was the `apm.ipfs` setting. Why do we need `wsRPC` to get the ABIs?

[2019-08-10 12:50] 0x6431346e commented on #944
If no `wsRPC` is passed, it uses the http provider from the truffle file. This works for testrpcs, but for real networks the wrapper never initializes: https://github.com/aragon/aragon-cli/pull/270#discussion_r240144266

The problem with setting a default value is that, just like the ENS Registry Address, this option is network specific.

One way of avoiding to set `wsRPC` and `registry` in `arapp

[2019-08-10 13:44] pythonpete32 opened #945 "Survey App: hamburger menu dosnt work on mobile"
The hamburger menu dosnt work on mobile browsers I've tried
- metamask mobile
- status
- firefox
- opera

![App](https://s3.gifyu.com/images/GIF-190810_143037.md.gif)

[2019-08-11 02:00] sohkai commented on #944
Extensible environments sounds like a potentially useful feature, but perhaps we can also default to using what the [Aragon client's ws connections](https://github.com/aragon/aragon/blob/master/src/network-config.js#L12) are based on the environment's declared network?

[2019-08-12 20:23] #656 closed

[2019-08-13 10:45] sohkai commented on #809
Closing for now since the original behaviour was fixed. We will re-implement the dual DatePicker as a separate task.

[2019-08-13 10:45] #809 closed

[2019-08-13 10:46] sohkai commented on #814
Will be fixed in 0.8.

[2019-08-13 10:46] #814 closed

[2019-08-13 10:47] sohkai commented on #769
This was potentially due to an issue with event subscriptions in web3@1.0.0-beta.34. Will close for now and we can re-open if it occurs again.

[2019-08-13 10:47] #769 closed

[2019-08-13 10:47] sohkai commented on #768
Will be fixed in 0.8.

[2019-08-13 10:47] #768 closed

[2019-08-13 10:52] sohkai commented on #742
Fixed in https://github.com/aragon/aragon-apps/pull/904.

[2019-08-13 10:52] #742 closed

[2019-08-13 10:54] sohkai commented on #714
Will be fixed in 0.8.

[2019-08-13 10:54] #714 closed

[2019-08-13 20:20] 0xGabi commented on #944
Yes, I think that's the way to go

[2019-08-14 08:34] #658 closed

[2019-08-20 09:32] sohkai commented on #379
Move to https://github.com/aragon/contract-helpers.

[2019-08-31 12:30] sohkai opened #956 "Finance: automatically add installed Token Managers' tokens to tracked tokens"
With the new `getApps()` API exposed in `@aragon/api`, the Finance app can now detect installed Token Managers and include their tokens automatically in its tracked list of token balances.

[2019-08-31 19:50] DISC30 opened #957 "Payroll App: address administration by every address-holder in a distributed manner"
It is crucial that the adding and removal of addresses/contributors from projects be done in a distributed manner (otherwise we end up with centralized funds like the rejected [EIP2025 inflation fund](https://www.cryptoglobe.com/latest/2019/08/circle-research-examines-the-debate-around-ethereums-funding-model/) and contentious [Zcash dev fund](https://forum.zcashcommunity.com/t/future-of-zcash-dev

[2019-09-02 23:33] #892 closed

[2019-09-11 11:45] sohkai commented on #957
Thanks for the comments @DISC30!

The Payroll app has been designed to be _generic_ as to who can add new members; it has a role set up through aragonOS's permissioning system such that you can declare an account, an app (e.g. voting), etc. to be the holder of the permission to add new employees and set their salaries.

It can go as decentralized as you'd like it to be :).

[2019-09-11 11:45] #957 closed

[2019-09-15 13:37] pythonpete32 opened #994 "Voting app shows blank screen"
After the last vote loads the screen goes blank in the voting app.

I've cleared the cache and tried to view it on multiple devices but it get the same thing

https://rinkeby.aragon.org/#/0xC0d7F939E53de5FE60980cF0357d92230EFB84F3/0x85862138f4f6b22a912e3b3a0c69fd4e887659ff

[2019-09-16 10:55] luisivan commented on #994
I can reproduce -- some orgs do it, some don't.

Getting this:

[code]

[2019-09-16 11:32] izqui commented on #994
I am seeing a different error:

[code]

From some light debugging, it seems that this is happening when reducing vote #13 which performs a Kernel call. On mainnet orgs, Kernel calls seem to be fine (see governance org).

[2019-09-16 11:35] luisivan commented on #994
I'm getting that error on mainnet orgs as well

[2019-09-16 11:37] bpierre commented on #994
This seems to be coming from https://github.com/aragon/aragon.js/pull/380/files#diff-9007ed863cba4431686946c9026c1b9aR43 not being there for some reason?

[2019-09-16 11:47] bpierre commented on #994
We could try [to update it](https://github.com/aragon/aragon-apps/blob/master/apps/voting/app/package.json#L8) to the latest versions of api / api-react, but it should be [in this version](https://github.com/aragon/aragon.js/blob/api-v2.0.0-beta.6/packages/aragon-api/src/index.js#L43) already. Checking the build file to see if it’s actually in there.

[2019-09-16 11:52] izqui commented on #994
I am pretty sure it's there, since it is loading the icons for votes 1-12, it only crashes when it gets to 13. It must be an aragon.js issue, and it fails when asking for an icon of an app that we don't have.

[2019-09-16 11:53] izqui commented on #994
@luisivan Do you have a mainnet org in which this is failing?

[2019-09-16 12:06] luisivan commented on #994
https://mainnet.aragon.org/#/holdings/0x0953f69d48cc324186f2910c399336aeab2881af

[2019-09-17 10:55] izqui opened #997 "Finance: failed transfers for some tokens when receiver is 0x00...00"
Both Finance and Vault allow transferring tokens to the zero address (`0x00..00`) which is sometimes used for burning tokens when the token doesn't support it natively.

Unfortunately, some token implementations (including [OpenZeppelin's](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC20/ERC20.sol#L155-L156)) revert when sending tokens to `0x00...00`, which

[2019-09-17 11:07] bpierre opened #998 "Don’t display the loading indicator when the empty state card is displayed"
We could avoid displaying the loading indicator when the empty state card is already indicating that content is loading:

![](https://user-images.githubusercontent.com/36158/65036536-880b7800-d943-11e9-873c-06d226e5578a.png)

[2019-09-17 11:48] bpierre commented on #994
@luisivan Do you get the error consistently? What browser are you using? I can’t reproduce it here (Firefox).

[2019-09-17 13:59] AquiGorka opened #1000 "Finance: search filter"
Reference:
- [ ] Specs (which fields should the term match, etc)
- [ ] Designs
- [ ] Implementation

[2019-09-17 14:02] AquiGorka opened #1001 "Voting: search filter"
Reference:
- [ ] Specs (which fields should the term match, etc)
- [ ] Designs
- [ ] Implementation

[2019-09-17 14:44] AquiGorka opened #1002 "Voting: enacting/not enacted copy"
References:
- https://github.com/aragonone/product/issues/196
- https://www.notion.so/aragon/Design-review-0-8-items-bf12838cc3874c05811a96722a961ccd#2fcd62c74601462995ea1c9544170687

Work:
- [ ] User testing to define best wording + behaviour
- [ ] Designs
- [ ] Implementation

[2019-09-18 21:22] 0xGabi opened #1003 "Remove abi folder from npm package"
I wonder why are both the `abi` and `build` folder included in the npm distribution of the apps. Seems the `abi` folder is a bit unnecessary cause the information is already available in each artifact within the `build` folder

[2019-09-19 08:07] AquiGorka opened #1004 "Voting: no results and EmptyStateCards vertical span"
**References**
- https://github.com/aragonone/product/issues/196
- https://www.notion.so/aragon/Design-review-0-8-items-bf12838cc3874c05811a96722a961ccd#f64d575da7f94250a8a08193e2ee2e7f

**Goal**
For this type of screens (results not found or empty states) make the box take the 75% of the screen height in a way that we ensure it won't collide with the Help scout button.

**Considerations**
Apps sh

[2019-09-19 09:41] izqui opened #1005 "Tokens: implement token transfers"
For transferable tokens, we should implement token transferability within the client:

<img width="866" alt=" 2019-09-19 at 11 37 17 AM" src="https://user-images.githubusercontent.com/447328/65232739-f1b98c80-dad1-11e9-9d88-499739d5d86d.png">

Right now if you want to transfer tokens, you need to use a wallet, add the token and then transfer it. Alternatively, you can burn and assign tokens to ano

[2019-09-20 07:29] pythonpete32 commented on #994
The 0.8.1 update has fixed this

[2019-09-20 07:33] bpierre commented on #994
Thanks for confirming, closing then!

[2019-09-20 07:33] #994 closed

[2019-09-20 07:40] pythonpete32 opened #1008 "Token Manager: "you" pill is partially hidden in sidebar"
in the ownership distribution tab, the pill indicating the current unlocked account is partially hidden behind the percentage

![uierror](https://user-images.githubusercontent.com/50079365/65308585-4583ae80-db82-11e9-9b78-2da673687f14.png)

[2019-09-21 04:29] onbjerg commented on #230
Solved?

[2019-09-24 13:04] ajsantander opened #1009 "MiniMe supply overflows silently"
Even though this only happens with hardcore token amounts larger than max uint128 (`2 ** 128 - 1`), if the token supply exceeds this limit, it goes back to zero.

I've setup a branch to illustrate the bug: https://github.com/aragon/aragon-apps/tree/overflow-bug

To reproduce:
- Checkout the branch
- `git checkout 052104799400a99567d26eede04ced7c30322c4b`
- `npm i`
- `cd apps/token-manager`
- `npm

[2019-10-02 14:08] sembrestels opened #1011 "Token icon provider is down"
The service https://chasing-coins.com/ is down and it may be interfering with the Finance app, since all images need to be loaded before the app frontend appears (until image loading timeouts).

This is the affected line:

https://github.com/aragon/aragon-apps/blob/e90e917693c7c1b65772e02755b69f7dc79e01b7/apps/finance/app/src/components/BalanceToken.js#L49

[2019-10-02 18:07] luisivan commented on #230
Yeah, pretty much solved with Camino!

[2019-10-02 18:07] #230 closed

[2019-10-03 07:41] AquiGorka opened #1014 "Tokens: null network prevents execution"
In Safari when this [hook](https://github.com/aragon/aragon-apps/blob/master/apps/token-manager/app/src/components/InfoBoxes.js#L39) returns `null` the UI for Tokens does not get rendered.

What should be rendered? How to proceed?

I could use a default value for `rinkeby` but that would only fix the rendering issue, not the fact that the user does not have a network, probably because they don't h

[2019-10-03 09:13] AquiGorka opened #1015 "Agent, Finance: best approach for long descriptions"
Following up to https://github.com/aragonone/product/issues/195#issuecomment-531741566

What would be the best way to render the table's contents when these are long?
There are certain limitations with the current implementation of `DataView`: it is very hard to do a text overflow without using a hardcoded max-width (no percentages can be used and the columns adjust to its content's width).

- [ ]

[2019-10-03 16:25] izqui opened #1017 "Vault: replace to.transfer(x) for to.value(x).call() to reduce EIP-1884 impact"
By doing this, upgraded instances of Vault will be able to send ETH to non-fixed proxies (pre-0.8).

As the Vault doesn't have re-entrancy issues, we should be able to make this change without issue.

This will also require publishing a new major for Agent as it inherits from Vault.

[2019-10-04 10:31] AquiGorka opened #1018 "Voting: mobile filters"
Reference: https://github.com/aragonone/product/issues/196

- [ ] Specs
- [ ] Designs (currently [figma](https://www.figma.com/file/O09HJRCFDwDTni4VE3tiRvwI/Voting?node-id=42%3A218) only shows buttons)
- [ ] Implementation
  - [ ] [Issue](https://github.com/aragon/aragon-ui/issues/598) DatePicker
  - [ ] [Issue](https://github.com/aragon/aragon-apps/issues/1001) Search
  - [ ] Status
  - [ ] Trend